@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none; }

*:active, *:focus {
  outline: none !important;
  text-decoration: none !important; }

html {
  height: 100%; }

body {
  min-height: 100%;
  background: #f9f6f4;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px; }

.clearfix:before, .clearfix:after {
  content: ' ';
  display: table;
  clear: both; }

h1, h2, h3, h4, h5, h6, ul, ol {
  margin: 0;
  padding: 0; }

.row-eq-height {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

._pb15 {
  padding-bottom: 15px; }

@-webkit-keyframes moveTop {
  0% {
    top: 0; }
  50% {
    top: -20px; }
  100% {
    top: 0; } }

@keyframes moveTop {
  0% {
    top: 0; }
  50% {
    top: -20px; }
  100% {
    top: 0; } }

@-webkit-keyframes moveLeft {
  0% {
    left: 0; }
  50% {
    left: -20px; }
  100% {
    left: 0; } }

@keyframes moveLeft {
  0% {
    left: 0; }
  50% {
    left: -20px; }
  100% {
    left: 0; } }

@-webkit-keyframes moveLeftRight {
  0% {
    left: 0; }
  50% {
    left: 50px; }
  100% {
    left: 0; } }

@keyframes moveLeftRight {
  0% {
    left: 0; }
  50% {
    left: 50px; }
  100% {
    left: 0; } }

/*--== buttons ==--*/
.butn {
  display: inline-block;
  min-width: 180px;
  background-color: #ffc802;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  padding: 15px 15px 14px;
  color: #000000;
  font-weight: 800;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: 1px  solid transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-align: center; }

.butn:hover {
  color: #ffffff;
  text-decoration: none;
  background: #35aa6b; }

.butn_hover-wh:hover {
  color: #b5b5b5;
  text-decoration: none;
  border: 1px solid #e7e7e7;
  background-color: #ffffff; }

.butn_wh {
  border: 1px solid #e7e7e7;
  background-color: #ffffff;
  color: #e7e7e7;
  text-transform: none;
  padding: 12px; }

.butn_wh:hover {
  color: #000;
  text-decoration: none;
  border: 1px solid #ffc802;
  background-color: #ffc802; }

.butn_xl {
  padding: 22px 15px; }

.butn_green {
  padding: 12px 15px;
  border: 1px solid #9ad5b5;
  text-transform: none;
  background-color: #35aa6b;
  color: #ffffff; }

.butn_green:hover {
  background-color: #ffc802;
  color: #000; }

.butn_sm {
  padding: 10px 15px 9px;
  text-transform: none; }

/*--== /buttons ==--*/
header {
  background: url(../img/bg-header.png) no-repeat center;
  background-size: cover; }

.header__top {
  vertical-align: top;
  padding: 10px 0;
  -moz-text-align-last: justify;
       text-align-last: justify;
  text-align: justify;
  line-height: 0; }

.header__top:after {
  content: "";
  width: 100%;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  display: inline-block; }

@media (max-width: 767px) {
  .header__top {
    -moz-text-align-last: initial;
         text-align-last: initial;
    text-align: center; } }

.header__top-item {
  vertical-align: top;
  display: inline-block; }

@media (max-width: 991px) {
  .header__top-item:last-child {
    display: block;
    max-width: 300px;
    margin: 15px auto 0; } }

@media (max-width: 767px) {
  .header__top-item {
    display: block;
    text-align: center; } }

.header__bottom {
  background: rgba(0, 0, 0, 0.6); }

.header__bottom .container {
  position: relative;
  padding: 15px 0;
  -moz-text-align-last: justify;
       text-align-last: justify;
  line-height: 0;
  font-size: 0;
  text-align: justify; }

.header__bottom .container:after {
  content: "";
  width: 100%;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  display: inline-block; }

.phone {
  color: #ccc;
  position: relative;
  padding-left: 25px;
  line-height: 1;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8); }

@media (max-width: 767px) {
  .phone {
    display: inline-block;
    margin-bottom: 15px; } }

.phone:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 3px;
  width: 13px;
  height: 13px;
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2217%22%20height%3D%2215%22%20viewBox%3D%220%200%2017%2015%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M404%2030.32a.6.6%200%200%201-.2.54l-1.83%201.77a.85.85%200%200%201-.32.23c-.14.06-.27.1-.4.12l-.08.01H401a6.56%206.56%200%200%201-2.27-.51c-.57-.23-1.2-.57-1.92-1.03a14.28%2014.28%200%200%201-2.29-1.89%2014.78%2014.78%200%200%201-2.61-3.35%208.33%208.33%200%200%201-.84-2.31%203.27%203.27%200%200%201-.04-.94%201.28%201.28%200%200%201%20.35-.7l1.83-1.79a.61.61%200%200%201%20.44-.19c.12%200%20.23.04.32.1.1.07.17.15.23.25l1.48%202.74c.08.14.1.3.07.47a.83.83%200%200%201-.24.43l-.67.66a.23.23%200%200%200-.05.09.33.33%200%200%200-.02.1c.04.19.12.4.25.64.1.22.28.48.5.8.24.3.56.66.98%201.06a9.13%209.13%200%200%200%201.9%201.47c.22.1.39.17.5.2l.18.03.09-.02a.22.22%200%200%200%20.09-.05l.78-.78a.86.86%200%200%201%20.58-.21c.15%200%20.28.02.37.08h.01l2.66%201.53c.2.12.3.27.34.45z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23ffc802%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-389%20-19)%22%2F%3E%3C%2Fsvg%3E"); }

.phone span {
  display: inline-block;
  font-size: 13px;
  margin-right: 4px; }

.phone a {
  color: #ccc;
  font-size: 16px;
  font-weight: 600;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.phone a:hover {
  text-decoration: none;
  color: #fff; }

#nav-mini {
  list-style: none;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8); }

#nav-mini li {
  display: inline-block; }

#nav-mini li + li {
  margin-left: 30px; }

#nav-mini a {
  color: #ccc;
  font-size: 13px;
  line-height: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

#nav-mini a:hover {
  text-decoration: none;
  color: #fff; }

.search {
  position: relative;
  width: 30px;
  height: 20px;
  display: inline-block;
  margin-right: 50px;
  vertical-align: top; }

@media (max-width: 991px) {
  .search {
    float: right;
    margin-right: 0;
    margin-left: 15px; } }

.search input {
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  line-height: 20px;
  color: #ccc;
  padding: 0 35px 0 5px;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  width: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.search button {
  width: 30px;
  height: 20px;
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cimage%20width%3D%2216%22%20height%3D%2216%22%20xlink%3Ahref%3D%22data%3Aimage%2Fpng%3Bbase64%2CiVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8%2F9hAAAB70lEQVQ4T5WSPYgTURDH%2F7PRoBaxsDMI1wiKcBDevBQhTQotFE4Li8POxkbBqxREC8VDOAtBOMHmCuE4BSuLszONBMzOmnh%2BYHmFllbLkUSzGXnL22XdOwW3WB4z8%2F%2FNJ6HwRVE0P5vNlojoDICjACYAtohoYzKZPG21WqNivHuT%2B6kqRVF0F8DtzFYOBLBNROeNMVtFXwoQkXsA7niHAngN4AOAwwDOApjzvh%2BVSoUbjcZ2BnGZ51V16DN%2FB7DAzO%2BzgG63u69Wqy2r6g1v22TmczkgDMM1IrrsOgHARXFpPhuquuhtJ5n5azoDEfkGoA7gD3J5Bv1%2B%2F1QQBJ%2B8%2FTozP84AM1%2F%2BA2a%2BtcfwcpOITAFUVPWhtTZtyVXgVnMAwBNmvvo3gIgcArCTioiWjTFuYyngHYCmW1Mcx8c7nY7LsusTkUsA1j1g0RjzIn1HUbSkqo%2B8Y8UYc7OsHg6H9el06hK5WcXj8bjebrfjVNPr9Q5Wq9Uv2a6J6HmSJPebzeZnX%2FYFACte7I5u1Vp7LV%2Bje%2FhbeAPgSCF74ga2Rze%2FVPWitfZVWkEWMBgM5pIkWfWXV9bFqvqMiK4A2A8gh%2BSATCEiJwCcVtVjQRD8BPBxNBptup7DMFwgopdFyC7Av%2B7A%2BUqQnf8GFCDrqvr2N2wq0TD6KqjsAAAAAElFTkSuQmCC%22%2F%3E%3C%2Fsvg%3E") no-repeat center;
  position: absolute;
  border: none;
  right: 1px;
  top: 1px;
  z-index: 2; }

.search .jsSearchToggle {
  width: 30px;
  height: 20px;
  position: absolute;
  right: 1px;
  top: 1px;
  z-index: 3;
  cursor: pointer; }

.search.active input {
  width: 240px;
  visibility: visible; }

.search.active .jsSearchToggle {
  z-index: 2; }

.search.active button {
  z-index: 3; }

.lang-switch {
  display: inline-block;
  width: 76px;
  height: 20px;
  color: #ccc;
  font-size: 13px;
  padding: 0 12px 0 0;
  position: relative;
  cursor: default;
  text-align: left;
  -moz-text-align-last: left;
       text-align-last: left;
  margin-right: 50px;
  vertical-align: top; }

.lang-switch p {
  display: inline-block;
  margin: 0; }

.lang-switch:before {
  position: absolute;
  display: block;
  content: '';
  height: 6px;
  width: 6px;
  right: 0;
  top: 5px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.lang-switch__dropdown {
  display: none;
  list-style: none;
  position: absolute;
  left: -3px;
  right: -3px;
  border: 1px solid #ccc;
  z-index: 9;
  background: rgba(0, 0, 0, 0.6);
  -webkit-border-radius: 4px;
          border-radius: 4px; }

.lang-switch__dropdown li {
  display: block;
  border-bottom: 1px solid #d6dbe1;
  padding: 3px; }

.lang-switch__dropdown li a {
  color: #ccc;
  font-size: 13px;
  font-weight: 700;
  display: block; }

.lang-switch__dropdown li a:hover {
  text-decoration: none;
  color: #fff; }

.flag {
  display: inline-block;
  width: 24px;
  height: 16px;
  background-size: cover;
  margin-right: 8px; }

.flag_eng {
  background: url("../img/flag-united-kingdom.png") no-repeat; }

.social {
  display: inline-block; }

.social a {
  display: inline-block;
  width: 25px;
  height: 25px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: relative; }

.social a + a {
  margin-left: 10px; }

.social .fb {
  background: #666 url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2210%22%20height%3D%2215%22%20viewBox%3D%220%200%2010%2015%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1480.5%2031h2.25v-6h2.03l.22-2.07h-2.25v-1.04c0-.53.03-.82.8-.82h1.43V19h-2.04c-1.98%200-2.44%201.02-2.44%202.71v1.22h-1.5V25h1.5z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23fff%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1477%20-17)%22%2F%3E%3C%2Fsvg%3E") no-repeat center; }

.social .tw {
  background: #666 url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2217%22%20height%3D%2214%22%20viewBox%3D%220%200%2017%2014%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1525%2020.3c-.52.22-1.07.37-1.65.44a2.8%202.8%200%200%200%201.26-1.54%205.9%205.9%200%200%201-1.82.67%202.91%202.91%200%200%200-2.1-.87%202.83%202.83%200%200%200-2.8%203.4%208.25%208.25%200%200%201-5.92-2.9%202.7%202.7%200%200%200-.38%201.4c0%20.97.5%201.82%201.27%202.31a2.95%202.95%200%200%201-1.3-.34v.03a2.8%202.8%200%200%200%202.3%202.72%202.95%202.95%200%200%201-1.3.05%202.87%202.87%200%200%200%202.7%201.93%205.9%205.9%200%200%201-4.26%201.15%208.34%208.34%200%200%200%204.4%201.25%207.98%207.98%200%200%200%208.17-8.26c.56-.4%201.04-.88%201.43-1.44z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23fff%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1509%20-17)%22%2F%3E%3C%2Fsvg%3E") no-repeat center; }

.social a:hover {
  opacity: .8; }

.logo {
  display: inline-block;
  float: left; }

.logo img {
  max-width: 100%; }

@media (max-width: 767px) {
  .logo {
    margin-left: 15px; } }

@media (max-width: 350px) {
  .logo {
    max-width: 240px; } }

#nav {
  padding-top: 18px;
  display: inline-block;
  float: right;
  list-style: none; }

#nav li {
  display: inline-block; }

#nav li + li {
  margin-left: 20px; }

#nav a {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

#nav a:hover {
  text-decoration: none;
  color: #ccc; }

@media (min-width: 992px) {
  #nav {
    display: inline-block !important; } }

@media (max-width: 991px) {
  #nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99;
    padding: 10px 0; }
  #nav li {
    display: block;
    text-align: center;
    -moz-text-align-last: center;
         text-align-last: center;
    margin: 5px 0 !important;
    padding: 0 20px; }
  #nav li a {
    display: block;
    padding: 15px 0;
    font-size: 20px; } }

#hamburger {
  display: none;
  float: right;
  width: 30px;
  height: 30px;
  position: relative;
  margin: 11px 15px 0 0;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }

#hamburger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

@media (max-width: 991px) {
  #hamburger {
    display: block; } }

#hamburger span:nth-child(1) {
  top: 0; }

#hamburger span:nth-child(2), #hamburger span:nth-child(3) {
  top: 9px; }

#hamburger span:nth-child(4) {
  top: 18px; }

#hamburger.open span:nth-child(1) {
  top: 9px;
  width: 0;
  left: 50%; }

#hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
      transform: rotate(45deg); }

#hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }

#hamburger.open span:nth-child(4) {
  top: 9px;
  width: 0;
  left: 50%; }

main {
  padding: 26px 0 0 0; }

section {
  margin-bottom: 30px; }

.breadcrumbs {
  list-style: none;
  margin-bottom: 30px; }

.breadcrumbs li {
  display: inline-block;
  line-height: 1; }

.breadcrumbs li + li:before {
  content: '/';
  display: inline-block;
  margin: 0 4px; }

.breadcrumbs a {
  font-size: 13px;
  font-weight: 400;
  line-height: 1px;
  color: #35aa6b;
  text-decoration: underline; }

.breadcrumbs .active a {
  text-transform: uppercase;
  color: #666;
  text-decoration: none;
  cursor: default; }

.page-title {
  color: #000;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 30px; }

@media (max-width: 991px) {
  .page-title {
    text-align: center; } }

.sliders-wrap {
  overflow: hidden;
  margin-bottom: 40px; }

.slider-nav {
  width: 100%;
  max-width: 351px;
  float: left;
  margin: -1px 0px;
  padding-left: 2px; }

@media (max-width: 1199px) {
  .slider-nav {
    max-width: 305px; } }

@media (max-width: 767px) {
  .slider-nav {
    max-width: initial; } }

.slider-nav__img img {
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

.slider-nav__item {
  min-width: 164px;
  margin: 1px;
  height: 140px;
  overflow: hidden; }

@media (max-width: 1199px) {
  .slider-nav__item {
    min-width: 150px;
    height: 111px; } }

@media (max-width: 767px) {
  .slider-nav__item {
    min-width: initial;
    height: initial; } }

.slider-nav .slick-track, .slider-nav .slick-list {
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px); }

@media (min-width: 768px) {
  .slider-nav .slick-track, .slider-nav .slick-list {
    -webkit-transform: translate3d(0px, 0px, 0px) !important;
            transform: translate3d(0px, 0px, 0px) !important; } }

.slider-for {
  position: relative;
  width: 100%;
  float: left;
  max-width: 490px; }

@media (max-width: 1199px) {
  .slider-for {
    max-width: 390px; } }

@media (max-width: 767px) {
  .slider-for {
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1px; } }

.slider-for .slick-arrow {
  cursor: pointer;
  position: absolute;
  z-index: 999;
  width: 60px;
  height: 60px;
  background: rgba(0, 0, 0, 0.6);
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.slider-for .slick-arrow span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.slider-for .slick-arrow:hover {
  opacity: .6; }

.slider-for .slick-arrow-right {
  right: 0; }

.slider-for .slick-arrow-left {
  left: 0; }

.slider-for img {
  width: 100%; }

.page-nav {
  list-style: none;
  font-size: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.page-nav li {
  display: inline-block; }

.page-nav a {
  padding: 29px 13px;
  display: block;
  color: #35aa6b;
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  text-decoration: underline; }

.page-nav a.active {
  color: #fff;
  background: red; }

.page-nav li:hover {
  background: #35aa6b; }

.page-nav li:hover a {
  color: #fff;
  text-decoration: none; }

.page-nav.sticky {
  position: fixed;
  top: 0;
  z-index: 999;
  background: rgba(255, 255, 255, 0.8); }

.sticky-nav-wrap.sticky {
  position: fixed;
  top: 0;
  z-index: 999; }

.sticky-nav-wrap.sticky .scrtabs-tab-container {
  height: 40px; }

.sticky-nav-wrap.sticky .page-nav a {
  padding: 14px 13px; }

.sticky-nav-wrap.sticky .scrtabs-tab-scroll-arrow {
  line-height: 40px; }

.sticky-nav-wrap {
  width: 100%; }

.sticky-nav-wrap .scrtabs-tabs-movable-container {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.nav-tabs {
  overflow: hidden;
  border: 0; }

.nav-tabs > li > a {
  margin-right: 0;
  line-height: 1;
  border: 0;
  -webkit-border-radius: 0;
          border-radius: 0; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  border: none;
  background: #35aa6b;
  color: #fff;
  -webkit-border-radius: 0;
          border-radius: 0; }

.title {
  position: relative;
  margin-bottom: 15px; }

.title:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #dcdcdc;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.title span {
  display: inline-block;
  background: #f9f6f4;
  color: #000;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  padding-right: 20px;
  position: relative;
  z-index: 9; }

.text p {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 15px; }

.text_fs16 {
  font-size: 16px;
  margin-bottom: 30px; }

.img-wrap {
  margin-bottom: 30px; }

.img-wrap img {
  max-width: 100%; }

.description {
  border: 1px solid #e7e7e7;
  background-color: #fff;
  padding: 16px 0 17px;
  margin-bottom: 20px; }

.description__item {
  display: inline-block;
  position: relative;
  padding: 0 20px 0 50px; }

.description__item + .description__item:before {
  position: absolute;
  left: 0;
  content: '';
  display: inline-block;
  width: 1px;
  height: 26px;
  background-color: #e3e3e3;
  vertical-align: middle;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.description__item-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 20px;
  background-repeat: no-repeat;
  background-position: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.description__item-title {
  display: inline-block;
  color: #000;
  font-size: 14px;
  line-height: 1;
  font-weight: 700; }

.description__item-data {
  display: inline-block;
  font-weight: 400;
  line-height: 1; }

@media (max-width: 1199px) {
  .description {
    text-align: center; }
  .description .description__item {
    padding: 0 10px 0 30px; }
  .description .description__item-icon {
    left: 5px; }
  .description .description__item-title {
    font-size: 12px; } }

@media (max-width: 730px) {
  .description .description__item {
    margin-bottom: 5px; }
  .description .description__item:before {
    display: none; } }

.svg-icon-calendar {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M416.42%201555.27v1.2c0%20.18-.16.33-.35.33h-1.21a.34.34%200%200%201-.35-.34v-1.19c0-.18.15-.34.35-.34h1.21c.2%200%20.35.16.35.34zm3.04%201.2c0%20.18-.16.33-.35.33h-1.22a.34.34%200%200%201-.35-.34v-1.19c0-.18.16-.34.35-.34h1.22c.19%200%20.35.16.35.34zm3.03%200c0%20.18-.15.33-.35.33h-1.21a.34.34%200%200%201-.35-.34v-1.19c0-.18.16-.34.35-.34h1.21c.2%200%20.35.16.35.34zm-6.07%201.77v1.2c0%20.18-.16.33-.35.33h-1.21a.34.34%200%200%201-.35-.34v-1.19c0-.18.15-.34.35-.34h1.21c.2%200%20.35.16.35.34zm3.04%201.2c0%20.18-.16.33-.35.33h-1.22a.34.34%200%200%201-.35-.34v-1.19c0-.18.16-.34.35-.34h1.22c.19%200%20.35.16.35.34zm3.03-1.2v1.2c0%20.18-.15.33-.35.33h-1.21a.34.34%200%200%201-.35-.34v-1.19c0-.18.16-.34.35-.34h1.21c.2%200%20.35.16.35.34zm3.51-8.23v10.64c0%20.74-.62%201.35-1.37%201.35h-12.26c-.75%200-1.37-.61-1.37-1.35V1550c0-.73.6-1.32%201.34-1.34v1.81c0%20.82.68%201.49%201.51%201.49h.96a1.5%201.5%200%200%200%201.53-1.49v-1.82h4.32v1.82c0%20.82.69%201.49%201.53%201.49h.96a1.5%201.5%200%200%200%201.51-1.49v-1.81c.74.02%201.34.61%201.34%201.34zm-1.78%209.97v-5.49a.59.59%200%200%200-.6-.58h-10.27c-.33%200-.6.26-.6.58v5.5c0%20.32.27.58.6.58h10.28c.32%200%20.59-.26.59-.59zm-10.89-9.5v-2.97c0-.28.23-.51.52-.51h.95c.29%200%20.52.23.52.5v2.98c0%20.28-.23.51-.52.51h-.95a.52.52%200%200%201-.52-.5zm8.32%200v-2.97c0-.28.24-.51.53-.51h.94c.3%200%20.52.23.52.5v2.98c0%20.28-.23.51-.52.51h-.94a.52.52%200%200%201-.53-.5z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23cfcfcf%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-409%20-1545)%22%2F%3E%3C%2Fsvg%3E"); }

.svg-icon-clock {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2217%22%20height%3D%2217%22%20viewBox%3D%220%200%2017%2017%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M662%201563a7%207%200%201%201%200-14%207%207%200%200%201%200%2014zm.87-7.88v-4.37h-1.75v6.12h4.38v-1.75z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23cfcfcf%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-653%20-1547)%22%2F%3E%3C%2Fsvg%3E"); }

.svg-icon-distance {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2223%22%20height%3D%2223%22%20viewBox%3D%220%200%2023%2023%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M891%201553c0%203.72-4.52%208.04-4.71%208.22l-.05.02v.02l-.7.46a.42.42%200%200%201-.58-.11.42.42%200%200%201%20.12-.58l.26-.18c-1.1-1.13-4.34-4.7-4.34-7.85%200-2.8%202.2-5%205-5s5%202.2%205%205zm-2.5%200a2.5%202.5%200%201%200-5%200%202.5%202.5%200%200%200%205%200zm-9%2012.25c.13.19.08.45-.11.58l-1.24.82a.42.42%200%200%201-.58-.11v-.02c-.16.2-.32.37-.47.53a.42.42%200%200%201-.18.42l-.69.46a.41.41%200%200%201-.23.07c-.1%200-.2-.04-.29-.11-.19-.19-4.71-4.5-4.71-8.22%200-2.8%202.2-5%205-5s5%202.2%205%205c0%202-1.3%204.17-2.55%205.78l.47-.32c.2-.13.45-.07.58.12zm-1-5.58a2.5%202.5%200%201%200-5%200%202.5%202.5%200%200%200%205%200zm5.92%202.3c.13.19.08.45-.11.57l-1.23.83a.42.42%200%200%201-.58-.12.42.42%200%200%201%20.11-.58l1.23-.82c.2-.13.46-.07.58.12zm-2.46%201.64c.13.19.08.45-.11.58l-1.23.82a.42.42%200%200%201-.47-.7l1.23-.82c.2-.13.45-.07.58.12z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23cfcfcf%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-869%20-1546)%22%2F%3E%3C%2Fsvg%3E"); }

.svg-icon-diff {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2224%22%20height%3D%2220%22%20viewBox%3D%220%200%2024%2020%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1059.76%202650.75l1.82-1.82v5.7c0%20.2-.16.37-.36.37h-2.5a.36.36%200%200%201-.36-.36v-3.25a2.2%202.2%200%200%200%201.4-.64zm4.8-.14c.4.4.93.63%201.5.64v3.39c0%20.2-.16.36-.36.36h-2.5a.36.36%200%200%201-.37-.36v-5.75zm3.11%200l2.87-2.88v6.9c0%20.2-.16.37-.36.37h-2.5a.36.36%200%200%201-.37-.36v-3.74c.13-.09.25-.18.36-.3zm7.16-7.07c.05.04.1.1.2.17v10.93c0%20.2-.17.36-.37.36h-2.5a.36.36%200%200%201-.37-.36v-8.16l2.99-3zm2.17-4.8l-.06%201.15-.1%202.27c-.01.18-.04.4-.22.58-.05.05-.1.1-.17.13a.6.6%200%200%201-.3.08c-.22%200-.36-.15-.47-.26l-.9-.9-7.96%207.97a1.01%201.01%200%200%201-1.43%200l-3.16-3.17-3.32%203.31a1%201%200%200%201-1.43%200l-.18-.18a1%201%200%200%201%200-1.43l4.21-4.22a1%201%200%200%201%201.43%200l3.17%203.17%207.05-7.06-.61-.61-.3-.3c-.1-.11-.35-.36-.18-.73a.62.62%200%200%201%20.13-.2c.17-.16.38-.17.54-.18l3.5-.16h.06c.23%200%20.41.07.53.2.13.12.18.3.17.55z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23cfcfcf%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1055%20-2636)%22%2F%3E%3C%2Fsvg%3E"); }

.svg-icon-star-grey {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M601.07%206655.12h-3.28a.88.88%200%200%201-.85-.67l-.96-3-.02-.07a.59.59%200%200%200-.54-.38.59.59%200%200%200-.56.42l-.98%203.02c0%20.04-.02.07-.03.1a.88.88%200%200%201-.82.57h-3.27a.6.6%200%200%200-.5.6.6.6%200%200%200%20.25.5l2.54%201.88a.9.9%200%200%201%20.32%201.1l-.96%203.01v.01l-.02.02a.6.6%200%200%200%20.56.77c.11%200%20.21-.03.3-.08l.1-.07%202.53-1.87a.86.86%200%200%201%201.1.02l2.5%201.86.08.05a.58.58%200%200%200%20.9-.5c0-.07-.02-.13-.04-.19v-.02l-.97-3.03a.9.9%200%200%201%20.33-1.09l2.52-1.86.07-.06a.6.6%200%200%200-.3-1.04z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23dadada%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-588%20-6650)%22%2F%3E%3C%2Fsvg%3E"); }

.svg-icon-star-yellow {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M497.82%206513.12h-3.27a.88.88%200%200%201-.85-.67l-.96-3-.03-.07a.59.59%200%200%200-.54-.38.59.59%200%200%200-.56.42l-.97%203.02-.04.1a.88.88%200%200%201-.82.57h-3.27a.6.6%200%200%200-.5.6.6.6%200%200%200%20.25.5l2.55%201.88a.9.9%200%200%201%20.31%201.1l-.96%203.01v.01l-.01.02a.6.6%200%200%200%20.56.77c.1%200%20.2-.03.3-.08l.1-.07%202.52-1.87a.86.86%200%200%201%201.1.01l2.5%201.87.08.05c.1.06.2.09.3.09a.6.6%200%200%200%20.57-.78l-.01-.02-.97-3.03a.9.9%200%200%201%20.33-1.09l2.52-1.86.08-.06a.6.6%200%200%200%20.2-.45.6.6%200%200%200-.51-.6z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23f9cd17%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-485%20-6508)%22%2F%3E%3C%2Fsvg%3E"); }

.svg-icon-pin {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2214%22%20height%3D%2219%22%20viewBox%3D%220%200%2014%2019%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M987%206513c0%203.31-6%2010-6%2010s-6-6.69-6-10a6%206%200%200%201%2012%200zm-6-4a4%204%200%201%200%200%208%204%204%200%200%200%200-8zm0%202a2%202%200%201%201%200%204%202%202%200%200%201%200-4z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23cfcfcf%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-974%20-6505)%22%2F%3E%3C%2Fsvg%3E"); }

.subtitle {
  font-weight: 700;
  margin-bottom: 5px;
  text-transform: uppercase; }

.ul-check {
  list-style: none;
  margin-bottom: 15px; }

.ul-check li {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 5px; }

.ul-check li:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 3px;
  width: 14px;
  height: 10px;
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2216%22%20height%3D%2212%22%20viewBox%3D%220%200%2016%2012%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M395.66%201748.05s1.78-2.62%203.82-4.89a31.69%2031.69%200%200%201%203.53-3.27l-.4-.88s-2.32%201.23-4.2%202.74c-1.91%201.54-3.39%203.37-3.39%203.37l-2.86-2.1-1.18.96z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%2335aa6b%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-389%20-1738)%22%2F%3E%3C%2Fsvg%3E"); }

.ul-x {
  list-style: none;
  margin-bottom: 15px; }

.ul-x li {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 5px; }

.ul-x li:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 3px;
  width: 11px;
  height: 11px;
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M392.55%201986.26l.7-.71%204.25%204.24%204.24-4.24.71.7-4.24%204.25%204.24%204.24-.7.7-4.25-4.23-4.24%204.24-.71-.7%204.24-4.25z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22red%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-391%20-1984)%22%2F%3E%3C%2Fsvg%3E"); }

.route {
  border: 1px solid #e7e7e7;
  background: #fff;
  margin-bottom: 20px;
  counter-reset: route__list-item; }

.route__title {
  padding: 16px 40px 16px 20px;
  line-height: 1;
  color: #060404;
  font-size: 16px;
  font-weight: 800;
  position: relative;
  cursor: pointer; }

.route__title span {
  color: #35aa6b; }

.route__title:after {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 10px;
  right: 20px;
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2217%22%20height%3D%2212%22%20viewBox%3D%220%200%2017%2012%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1204.02%202778.15l1.1-1.13%206.38%206.56%206.38-6.56%201.1%201.13-6.39%206.56.2.19-1.1%201.12-.19-.19-.19.2-1.1-1.13.2-.2z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%2335aa6b%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1203%20-2776)%22%2F%3E%3C%2Fsvg%3E") no-repeat;
  background-size: contain;
  top: 50%;
  margin-top: -5px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.route__title:before {
  content: "";
  display: block;
  position: absolute;
  width: 37px;
  height: 1px;
  background-color: #e5e5e5;
  bottom: 0;
  left: 20px;
  display: none; }

.route__title.open:before {
  display: block; }

.route__title.open:after {
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0); }

.route__list {
  padding: 15px 20px 5px 20px;
  display: none; }

.route__list-item {
  position: relative;
  padding-left: 85px;
  margin-bottom: 15px;
  text-align: justify;
  line-height: 0; }

.route__list-item:after {
  content: "";
  width: 100%;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  display: inline-block; }

.route__list-item:before {
  counter-increment: route__list-item;
  content: "Day " counter(route__list-item);
  position: absolute;
  display: block;
  width: 70px;
  height: 35px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
  background-color: #35aa6b;
  left: 0;
  top: 0;
  line-height: 35px;
  text-align: center;
  color: #f9f6f4;
  font-size: 14px;
  font-weight: 800; }

.route__list-subitem {
  display: inline-block;
  vertical-align: middle;
  padding: 9px 0; }

.route__list-subitem:first-child {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 1; }

.route__list-item-description {
  display: inline-block;
  position: relative;
  min-width: 203px;
  line-height: 1;
  padding: 0 20px 0 50px; }

.route__list-item-description + .route__list-item-description:before {
  position: absolute;
  left: 0;
  content: '';
  display: inline-block;
  width: 1px;
  height: 26px;
  background-color: #e3e3e3;
  vertical-align: middle;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.route__list-item-description-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  left: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.route__list-item-description-data span {
  color: #9f9d9b; }

@media (max-width: 767px) {
  .route .route__list-subitem:last-child {
    display: block; }
  .route .route__list-item-description {
    display: block;
    min-width: 163px;
    padding: 0 0px 0 30px;
    text-align: left;
    -moz-text-align-last: left;
         text-align-last: left;
    margin-bottom: 5px; }
  .route .route__list-item-description:before {
    display: none; }
  .route .route__list-item-description-icon {
    left: 0; } }

.daily {
  counter-reset: daily__title; }

.daily .text {
  margin-bottom: 30px; }

.daily__title {
  display: block;
  position: relative;
  padding-left: 100px;
  margin-bottom: 15px; }

.daily__title span {
  display: inline-block;
  vertical-align: top;
  background: #fff;
  padding: 14px 20px 14px 20px;
  font-weight: 700;
  color: #000;
  border: 1px solid #e7e7e7; }

.daily__title:before {
  counter-increment: daily__title;
  content: "Day " counter(daily__title);
  display: block;
  position: absolute;
  width: 100px;
  height: 100%;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
  background-color: #35aa6b;
  left: 0;
  top: 0;
  line-height: 50px;
  text-align: center;
  color: #f9f6f4;
  font-size: 14px;
  font-weight: 800; }

.img-with-description-wrap {
  margin-bottom: 40px; }

.img-with-description__img {
  max-height: 220px;
  overflow: hidden; }

.img-with-description__img img {
  max-width: 100%; }

.img-with-description__text {
  border: 1px solid #e7e7e7;
  background-color: #ffffff;
  padding: 18px; }

@media (max-width: 767px) {
  .img-with-description {
    margin-bottom: 30px; }
  .img-with-description__img {
    margin-bottom: 10px;
    text-align: center; } }

@media (max-width: 390px) {
  .img-with-description__img {
    margin-bottom: 0; }
  .img-with-description__img img {
    width: 100%; } }

.ul-dotted {
  list-style: none;
  margin-bottom: 25px; }

.ul-dotted li {
  display: block;
  position: relative;
  padding-left: 15px;
  margin-bottom: 15px; }

.ul-dotted li:before {
  content: "";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: #35aa6b;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  left: 0;
  top: 4px; }

.img-left {
  float: left;
  margin: 0 15px 15px 0; }

.img-left + .ul-dotted {
  overflow: auto; }

.img-right {
  float: right;
  margin: 0 0 20px 20px; }

.text .ul-dotted {
  margin-bottom: 0; }

.text .ul-dotted li {
  margin-bottom: 5px; }

@media (max-width: 767px) {
  .text img {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto; } }

.review {
  border: 1px solid #e7e7e7;
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px; }

.review .route__list-item-description {
  min-width: initial; }

.review__title {
  line-height: 0;
  padding-bottom: 12px;
  border-bottom: 1px solid #cfcfcf;
  text-align: justify; }

.review__title:after {
  content: "";
  width: 100%;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  display: inline-block; }

.review__title-item {
  line-height: 1;
  display: inline-block; }

.review__title-item * {
  display: inline-block; }

.review__name {
  color: #000;
  font-weight: 700; }

.review__stars i {
  display: inline-block;
  width: 13px;
  height: 13px; }

.review__stars i + i {
  margin-left: 3px; }

.review__text {
  padding-top: 10px; }

@media (max-width: 600px) {
  .review__title-item {
    display: block;
    text-align: center; }
  .review__title-item:first-child {
    margin-bottom: 10px; } }

@media (max-width: 500px) {
  .review__title-item .route__list-item-description {
    margin-bottom: 10px; }
  .review__title-item .route__list-item-description:before {
    display: none; } }

.reviews-wrap__butn {
  text-align: center; }

.side-form {
  background-color: #35aa6b;
  margin-bottom: 20px; }

.side-form__title {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  padding: 18px 10px 19px;
  text-align: center;
  border-bottom: 1px solid #fff; }

.side-form__inputs-wrap {
  padding: 20px;
  border-bottom: 1px solid #fff; }

.side-form__input-title {
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 5px;
  position: relative; }

.side-form__input + .side-form__input {
  padding-top: 20px; }

.side-form__input input {
  width: 100%;
  padding: 16px 40px 15px 13px;
  border: none;
  color: #999999;
  line-height: 1;
  background: #fff;
  position: relative; }

.side-form__butn {
  text-align: center;
  padding: 20px; }

.side-form__butn .butn {
  width: 100%;
  min-width: initial; }

.side-form__price {
  color: #f7f7f7;
  font-size: 22px;
  font-weight: 800;
  line-height: 1; }

.jq-selectbox {
  width: 100%; }

.jq-selectbox__select {
  width: 100%;
  padding: 16px 40px 15px 13px;
  border: none;
  color: #999999;
  line-height: 1;
  background: #fff;
  position: relative; }

.jq-selectbox__trigger-arrow {
  position: absolute;
  width: 7px;
  height: 7px;
  border-bottom: 1px solid #414141;
  border-right: 1px solid #414141;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 50%;
  margin-top: -3px;
  right: 16px; }

.jq-selectbox__dropdown {
  width: 100%; }

.jq-selectbox__dropdown ul {
  background: #fff;
  width: 100%;
  padding: 5px 0; }

.jq-selectbox__dropdown ul li {
  display: block;
  padding: 5px 13px;
  color: #999999; }

.jq-selectbox__dropdown ul li:hover {
  background: #999;
  color: #ffffff; }

select.jsStyler {
  visibility: hidden; }

.datapick-holder {
  position: relative; }

.datapick-holder:before {
  content: "";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-bottom: 1px solid #414141;
  border-right: 1px solid #414141;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 50%;
  margin-top: -3px;
  right: 16px;
  z-index: 9; }

.datepick-popup {
  -webkit-box-shadow: 0 5px 35px rgba(0, 1, 1, 0.13);
          box-shadow: 0 5px 35px rgba(0, 1, 1, 0.13);
  border: 1px solid #e7e7e7;
  background-color: #ffffff; }

.datepick-nav {
  height: 45px;
  border: none;
  background-color: #35aa6b; }

.datepick-cmd {
  height: 100% !important;
  vertical-align: middle; }

.datepick-cmd-prev {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2233%22%20height%3D%2233%22%20viewBox%3D%220%200%2033%2033%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M668%20766a15%2015%200%201%201%200-30%2015%2015%200%200%201%200%2030z%22%2F%3E%3Cpath%20id%3D%22c%22%20d%3D%22M669.23%20746.02l.75.73-4.37%204.25%204.37%204.25-.75.73-4.37-4.25-.13.12-.75-.72.13-.13-.13-.13.75-.73.13.13z%22%2F%3E%3CclipPath%20id%3D%22b%22%3E%3Cuse%20fill%3D%22%23fff%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg%20opacity%3D%22.5%22%20fill%3D%22%23fff%22%20transform%3D%22translate(-651%20-734)%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%2F%3E%3Cuse%20fill-opacity%3D%220%22%20stroke%3D%22%23fff%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2250%22%20stroke-width%3D%222%22%20clip-path%3D%22url(%26quot%3B%23b%26quot%3B)%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3C%2Fg%3E%3Cuse%20fill%3D%22%23fff%22%20xlink%3Ahref%3D%22%23c%22%20transform%3D%22translate(-651%20-734)%22%2F%3E%3C%2Fsvg%3E") no-repeat center; }

.datepick-cmd-today {
  padding-top: 15px;
  font-weight: 700;
  font-size: 14px; }

.datepick-cmd-next {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2233%22%20height%3D%2233%22%20viewBox%3D%220%200%2033%2033%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M884%20766a15%2015%200%201%201%200-30%2015%2015%200%200%201%200%2030z%22%2F%3E%3Cpath%20id%3D%22c%22%20d%3D%22M882.76%20755.98l-.74-.73%204.37-4.25-4.37-4.25.74-.73%204.38%204.25.13-.13.75.73-.13.13.13.13-.75.73-.13-.13z%22%2F%3E%3CclipPath%20id%3D%22b%22%3E%3Cuse%20fill%3D%22%23fff%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg%20opacity%3D%22.5%22%20fill%3D%22%23fff%22%20transform%3D%22translate(-867%20-734)%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%2F%3E%3Cuse%20fill-opacity%3D%220%22%20stroke%3D%22%23fff%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2250%22%20stroke-width%3D%222%22%20clip-path%3D%22url(%26quot%3B%23b%26quot%3B)%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3C%2Fg%3E%3Cuse%20fill%3D%22%23fff%22%20xlink%3Ahref%3D%22%23c%22%20transform%3D%22translate(-867%20-734)%22%2F%3E%3C%2Fsvg%3E") no-repeat center; }

.stage2, .stage3 {
  padding-top: 20px;
  display: none; }

.side-form__input-title, .full-itinerary-list__title {
  padding-right: 25px; }

.side-form__input-title.jsInputTriger, .full-itinerary-list__title.jsInputTriger {
  cursor: pointer;
  position: relative; }

.side-form__input-title.jsInputTriger:before, .full-itinerary-list__title.jsInputTriger:before {
  content: '+';
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #fff;
  right: 0;
  top: 0;
  color: #35aa6b;
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
  text-align: center; }

.side-form__input-title.jsInputTriger.open:before, .full-itinerary-list__title.jsInputTriger.open:before {
  content: '-'; }

.full-itinerary-list__title {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 1; }

.full-itinerary-list__ul {
  padding-top: 15px;
  list-style: none; }

.full-itinerary-list__ul li {
  display: block;
  padding-left: 14px;
  position: relative;
  color: #ffffff;
  margin-bottom: 15px; }

.full-itinerary-list__ul li:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 6px;
  width: 7px;
  height: 7px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #97d0b0; }

.full-itinerary-list__trail {
  font-weight: 700; }

.notice {
  border: 1px solid #e7e7e7;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px; }

.notice__butns .butn {
  min-width: initial;
  width: 100%;
  margin-bottom: 10px; }

.inner-page-title {
  color: #000;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 20px; }

.contact-form-wrapper {
  background: #fff;
  padding: 30px;
  margin-bottom: 30px;
  border: 1px solid #e7e7e7; }

.input-row {
  margin-bottom: 20px;
  position: relative; }

.input-row .input-label {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  width: 100%;
  margin: 0;
  position: relative;
  min-height: 28px; }

.input-row .input-label span {
  color: #ff0000; }

@media (max-width: 767px) {
  .input-row .input-label {
    min-height: initial; } }

.input-row input, .input-row textarea {
  display: block;
  width: 100%;
  padding: 14px 40px 13px 13px;
  border: 1px solid #d8d8d8;
  background: #fff;
  position: relative;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  margin-top: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.input-row textarea {
  min-height: 145px;
  max-height: 300px;
  max-width: 100%;
  min-width: 100%; }

.input-row .icon {
  position: absolute;
  width: 17px;
  height: 17px;
  right: 13px;
  bottom: 15px;
  z-index: 9;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.input-row .icon_user {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2220%22%20height%3D%2219%22%20viewBox%3D%220%200%2020%2019%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M743%20391a1%201%200%200%201-1%201h-14a1%201%200%200%201-1-1v-3c0-.36.14-.89.11-.8-.26%201-.08-1.2%202.12-2.63.1-.06.2-.1.28-.16a6%206%200%200%200%2010.98%200l.28.16c2.25%201.46%202.3%203.5%202.16%202.83.04.2.07.4.07.6zm-8-5a4%204%200%200%201-4-4v-2a4%204%200%200%201%208%200v2a4%204%200%200%201-4%204z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23e2e2e2%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-725%20-374)%22%2F%3E%3C%2Fsvg%3E") no-repeat center; }

.input-row .icon_earth {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2219%22%20height%3D%2219%22%20viewBox%3D%220%200%2019%2019%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1105%20392a8%208%200%201%201%200-16%208%208%200%200%201%200%2016zm0-8s-1-.03-1-1%201-1%201-1%201%20.22%201%201c0%200%201%20.31%201-1%200-.7-.28-.93-.54-1h-.46l1-2s.22-1-1-1h-1v.03c-1.7.13-5%20.8-5%203.97%200%200%200%203%204%203%200%200-.6%202.31%202%203v2s3-.5%203-4c0%200%20.28-2-4-2z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23e2e2e2%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1095%20-374)%22%2F%3E%3C%2Fsvg%3E") no-repeat center; }

.input-row .icon_mail {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2220%22%20height%3D%2215%22%20viewBox%3D%220%200%2020%2015%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1481%20387v1a1%201%200%200%201-1%201h-14a1%201%200%200%201-1-1v-3l.01-.06-.01-4.94%208%206%208-6%20.01%207zm-15.99-9c0-.27.1-.5.3-.7.2-.2.43-.3.7-.3h14c.27%200%20.5.1.7.3.2.2.3.43.3.7l-8%206z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23cfcfcf%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1463%20-376)%22%2F%3E%3C%2Fsvg%3E") no-repeat center; }

.input-row .icon_phone {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2220%22%20height%3D%2218%22%20viewBox%3D%220%200%2020%2018%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M743%20474.62a.77.77%200%200%201-.25.68l-2.25%202.24c-.1.11-.23.2-.4.29-.16.08-.32.13-.48.15h-.1l-.22.02a7.9%207.9%200%200%201-2.8-.66c-.7-.28-1.49-.72-2.37-1.3a17.65%2017.65%200%200%201-2.8-2.37%2018.48%2018.48%200%200%201-1.97-2.23c-.52-.71-.94-1.37-1.26-1.98a10.6%2010.6%200%200%201-1.03-2.91%204.21%204.21%200%200%201-.05-1.18%201.63%201.63%200%200%201%20.44-.88l2.25-2.25a.75.75%200%200%201%20.54-.24c.15%200%20.28.04.4.13.1.08.2.19.28.31l1.81%203.44c.1.18.13.38.09.6-.05.2-.14.39-.29.54l-.83.83a.3.3%200%200%200-.06.1.42.42%200%200%200-.02.13c.04.24.14.51.3.82.14.27.35.6.63.99s.68.84%201.2%201.35c.5.51.96.92%201.36%201.2.4.3.72.5.99.64.26.14.47.22.6.25l.22.04c.02%200%20.06%200%20.1-.02a.26.26%200%200%200%20.12-.06l.96-.99c.2-.18.44-.27.72-.27.19%200%20.34.04.45.1h.02l3.27%201.94c.24.14.38.33.42.55z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23e2e2e2%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-725%20-461)%22%2F%3E%3C%2Fsvg%3E") no-repeat center; }

.input-row .icon_calendar {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M416.42%201555.27v1.2c0%20.18-.16.33-.35.33h-1.21a.34.34%200%200%201-.35-.34v-1.19c0-.18.15-.34.35-.34h1.21c.2%200%20.35.16.35.34zm3.04%201.2c0%20.18-.16.33-.35.33h-1.22a.34.34%200%200%201-.35-.34v-1.19c0-.18.16-.34.35-.34h1.22c.19%200%20.35.16.35.34zm3.03%200c0%20.18-.15.33-.35.33h-1.21a.34.34%200%200%201-.35-.34v-1.19c0-.18.16-.34.35-.34h1.21c.2%200%20.35.16.35.34zm-6.07%201.77v1.2c0%20.18-.16.33-.35.33h-1.21a.34.34%200%200%201-.35-.34v-1.19c0-.18.15-.34.35-.34h1.21c.2%200%20.35.16.35.34zm3.04%201.2c0%20.18-.16.33-.35.33h-1.22a.34.34%200%200%201-.35-.34v-1.19c0-.18.16-.34.35-.34h1.22c.19%200%20.35.16.35.34zm3.03-1.2v1.2c0%20.18-.15.33-.35.33h-1.21a.34.34%200%200%201-.35-.34v-1.19c0-.18.16-.34.35-.34h1.21c.2%200%20.35.16.35.34zm3.51-8.23v10.64c0%20.74-.62%201.35-1.37%201.35h-12.26c-.75%200-1.37-.61-1.37-1.35V1550c0-.73.6-1.32%201.34-1.34v1.81c0%20.82.68%201.49%201.51%201.49h.96a1.5%201.5%200%200%200%201.53-1.49v-1.82h4.32v1.82c0%20.82.69%201.49%201.53%201.49h.96a1.5%201.5%200%200%200%201.51-1.49v-1.81c.74.02%201.34.61%201.34%201.34zm-1.78%209.97v-5.49a.59.59%200%200%200-.6-.58h-10.27c-.33%200-.6.26-.6.58v5.5c0%20.32.27.58.6.58h10.28c.32%200%20.59-.26.59-.59zm-10.89-9.5v-2.97c0-.28.23-.51.52-.51h.95c.29%200%20.52.23.52.5v2.98c0%20.28-.23.51-.52.51h-.95a.52.52%200%200%201-.52-.5zm8.32%200v-2.97c0-.28.24-.51.53-.51h.94c.3%200%20.52.23.52.5v2.98c0%20.28-.23.51-.52.51h-.94a.52.52%200%200%201-.53-.5z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23cfcfcf%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-409%20-1545)%22%2F%3E%3C%2Fsvg%3E") no-repeat center; }

.input-row textarea:hover {
  border-color: #35aa6b; }

.input-row input:hover, .input-row input:focus {
  border-color: #35aa6b; }

.input-row input:hover + .icon_user, .input-row input:focus + .icon_user {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2220%22%20height%3D%2219%22%20viewBox%3D%220%200%2020%2019%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M743%20391a1%201%200%200%201-1%201h-14a1%201%200%200%201-1-1v-3c0-.36.14-.89.11-.8-.26%201-.08-1.2%202.12-2.63.1-.06.2-.1.28-.16a6%206%200%200%200%2010.98%200l.28.16c2.25%201.46%202.3%203.5%202.16%202.83.04.2.07.4.07.6zm-8-5a4%204%200%200%201-4-4v-2a4%204%200%200%201%208%200v2a4%204%200%200%201-4%204z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%2335aa6b%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-725%20-374)%22%2F%3E%3C%2Fsvg%3E") no-repeat center; }

.input-row input:hover + .icon_earth, .input-row input:focus + .icon_earth {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2219%22%20height%3D%2219%22%20viewBox%3D%220%200%2019%2019%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1105%20392a8%208%200%201%201%200-16%208%208%200%200%201%200%2016zm0-8s-1-.03-1-1%201-1%201-1%201%20.22%201%201c0%200%201%20.31%201-1%200-.7-.28-.93-.54-1h-.46l1-2s.22-1-1-1h-1v.03c-1.7.13-5%20.8-5%203.97%200%200%200%203%204%203%200%200-.6%202.31%202%203v2s3-.5%203-4c0%200%20.28-2-4-2z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%2335aa6b%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1095%20-374)%22%2F%3E%3C%2Fsvg%3E") no-repeat center; }

.input-row input:hover + .icon_mail, .input-row input:focus + .icon_mail {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2220%22%20height%3D%2215%22%20viewBox%3D%220%200%2020%2015%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1481%20387v1a1%201%200%200%201-1%201h-14a1%201%200%200%201-1-1v-3l.01-.06-.01-4.94%208%206%208-6%20.01%207zm-15.99-9c0-.27.1-.5.3-.7.2-.2.43-.3.7-.3h14c.27%200%20.5.1.7.3.2.2.3.43.3.7l-8%206z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%2335aa6b%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1463%20-376)%22%2F%3E%3C%2Fsvg%3E") no-repeat center; }

.input-row input:hover + .icon_phone, .input-row input:focus + .icon_phone {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2220%22%20height%3D%2218%22%20viewBox%3D%220%200%2020%2018%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M743%20474.62a.77.77%200%200%201-.25.68l-2.25%202.24c-.1.11-.23.2-.4.29-.16.08-.32.13-.48.15h-.1l-.22.02a7.9%207.9%200%200%201-2.8-.66c-.7-.28-1.49-.72-2.37-1.3a17.65%2017.65%200%200%201-2.8-2.37%2018.48%2018.48%200%200%201-1.97-2.23c-.52-.71-.94-1.37-1.26-1.98a10.6%2010.6%200%200%201-1.03-2.91%204.21%204.21%200%200%201-.05-1.18%201.63%201.63%200%200%201%20.44-.88l2.25-2.25a.75.75%200%200%201%20.54-.24c.15%200%20.28.04.4.13.1.08.2.19.28.31l1.81%203.44c.1.18.13.38.09.6-.05.2-.14.39-.29.54l-.83.83a.3.3%200%200%200-.06.1.42.42%200%200%200-.02.13c.04.24.14.51.3.82.14.27.35.6.63.99s.68.84%201.2%201.35c.5.51.96.92%201.36%201.2.4.3.72.5.99.64.26.14.47.22.6.25l.22.04c.02%200%20.06%200%20.1-.02a.26.26%200%200%200%20.12-.06l.96-.99c.2-.18.44-.27.72-.27.19%200%20.34.04.45.1h.02l3.27%201.94c.24.14.38.33.42.55z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%2335aa6b%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-725%20-461)%22%2F%3E%3C%2Fsvg%3E") no-repeat center; }

.input-row input:hover + .icon_calendar, .input-row input:focus + .icon_calendar {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M416.42%201555.27v1.2c0%20.18-.16.33-.35.33h-1.21a.34.34%200%200%201-.35-.34v-1.19c0-.18.15-.34.35-.34h1.21c.2%200%20.35.16.35.34zm3.04%201.2c0%20.18-.16.33-.35.33h-1.22a.34.34%200%200%201-.35-.34v-1.19c0-.18.16-.34.35-.34h1.22c.19%200%20.35.16.35.34zm3.03%200c0%20.18-.15.33-.35.33h-1.21a.34.34%200%200%201-.35-.34v-1.19c0-.18.16-.34.35-.34h1.21c.2%200%20.35.16.35.34zm-6.07%201.77v1.2c0%20.18-.16.33-.35.33h-1.21a.34.34%200%200%201-.35-.34v-1.19c0-.18.15-.34.35-.34h1.21c.2%200%20.35.16.35.34zm3.04%201.2c0%20.18-.16.33-.35.33h-1.22a.34.34%200%200%201-.35-.34v-1.19c0-.18.16-.34.35-.34h1.22c.19%200%20.35.16.35.34zm3.03-1.2v1.2c0%20.18-.15.33-.35.33h-1.21a.34.34%200%200%201-.35-.34v-1.19c0-.18.16-.34.35-.34h1.21c.2%200%20.35.16.35.34zm3.51-8.23v10.64c0%20.74-.62%201.35-1.37%201.35h-12.26c-.75%200-1.37-.61-1.37-1.35V1550c0-.73.6-1.32%201.34-1.34v1.81c0%20.82.68%201.49%201.51%201.49h.96a1.5%201.5%200%200%200%201.53-1.49v-1.82h4.32v1.82c0%20.82.69%201.49%201.53%201.49h.96a1.5%201.5%200%200%200%201.51-1.49v-1.81c.74.02%201.34.61%201.34%201.34zm-1.78%209.97v-5.49a.59.59%200%200%200-.6-.58h-10.27c-.33%200-.6.26-.6.58v5.5c0%20.32.27.58.6.58h10.28c.32%200%20.59-.26.59-.59zm-10.89-9.5v-2.97c0-.28.23-.51.52-.51h.95c.29%200%20.52.23.52.5v2.98c0%20.28-.23.51-.52.51h-.95a.52.52%200%200%201-.52-.5zm8.32%200v-2.97c0-.28.24-.51.53-.51h.94c.3%200%20.52.23.52.5v2.98c0%20.28-.23.51-.52.51h-.94a.52.52%200%200%201-.53-.5z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%2335aa6b%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-409%20-1545)%22%2F%3E%3C%2Fsvg%3E") no-repeat center; }

.input-row .jq-selectbox__select {
  border: 1px solid #d8d8d8;
  padding: 15px 40px 14px 13px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.input-row .jq-selectbox__select:hover {
  border-color: #35aa6b; }

.input-row .jq-selectbox {
  margin-top: 3px; }

.input-row .jq-selectbox.opened .jq-selectbox__select {
  border-color: #35aa6b; }

.input-row .jq-selectbox__dropdown {
  border: 1px solid #d8d8d8; }

.input-row .datapick-holder:before {
  display: none; }

.jq-selectbox__dropdown ul {
  max-height: 150px; }

.divider {
  padding-top: 15px;
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 30px;
  position: relative; }

.divider:before, .divider:after {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 1px;
  background: #d8d8d8;
  bottom: -1px; }

.divider:before {
  left: 100%; }

.divider:after {
  right: 100%; }

@media (min-width: 768px) {
  .divider_mob {
    display: none; } }

.butn-row {
  text-align: center; }

._dn {
  display: none; }

.radio-label, .checkbox-label {
  display: block;
  padding-left: 28px;
  margin-bottom: 0; }

.radio-label span, .checkbox-label span {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  display: inline-block; }

.checkbox-label {
  padding-left: 0; }

.checkbox-label a {
  color: #35aa6b;
  text-decoration: underline; }

.checkbox-label a:hover {
  text-decoration: none; }

.jq-radio {
  position: absolute;
  left: 0;
  top: 0;
  vertical-align: middle;
  width: 18px;
  height: 18px; }

.jq-radio input {
  visibility: hidden;
  position: absolute;
  left: -99999px; }

.jq-radio__div {
  width: 18px;
  height: 18px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 1px solid #cfcfcf;
  line-height: 18px;
  position: relative; }

.jq-radio__div:before {
  content: "";
  display: block;
  position: absolute;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: #35aa6b;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none; }

.jq-radio.checked .jq-radio__div:before {
  display: block; }

.jq-checkbox {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  margin-right: 10px; }

.jq-checkbox input {
  visibility: hidden;
  position: absolute;
  left: -99999px; }

.jq-checkbox__div {
  width: 17px;
  height: 16px;
  border: 1px solid #cfcfcf;
  display: inline-block;
  -webkit-border-radius: 4px;
          border-radius: 4px; }

.jq-checkbox__div:before {
  content: '\2713';
  position: absolute;
  color: #35aa6b;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none; }

.jq-checkbox.checked .jq-checkbox__div:before {
  display: block; }

.contact-form-wrapper__title {
  padding: 16px 40px 16px 30px;
  line-height: 1;
  color: #060404;
  font-size: 16px;
  font-weight: 800;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  background: #fff;
  border: 1px solid #e7e7e7; }

.contact-form-wrapper__title:after {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 10px;
  right: 20px;
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2217%22%20height%3D%2212%22%20viewBox%3D%220%200%2017%2012%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1204.02%202778.15l1.1-1.13%206.38%206.56%206.38-6.56%201.1%201.13-6.39%206.56.2.19-1.1%201.12-.19-.19-.19.2-1.1-1.13.2-.2z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%2335aa6b%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1203%20-2776)%22%2F%3E%3C%2Fsvg%3E") no-repeat;
  background-size: contain;
  top: 50%;
  margin-top: -5px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.contact-form-wrapper__title.open {
  border-bottom: 1px solid transparent; }

.contact-form-wrapper__title.open:after {
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0); }

.jsHiddenTextarea {
  display: none; }

.amount__title {
  color: #b2b2b2;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5px; }

.amount__value {
  color: #35aa6b;
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  line-height: 1; }

.amount + .amount {
  margin-top: 20px; }

.side-form__title-butns {
  padding-top: 15px; }

.side-form__title-butns .butn {
  min-width: initial;
  width: 46%; }

.side-form__title-butns .butn + .butn {
  margin-left: 10px; }

@media (max-width: 991px) {
  ._mb30-mob {
    margin-bottom: 30px; } }

.searchResult {
  color: #a7a7a7;
  font-weight: 400; }

.search-row button {
  width: 40px;
  height: 45px;
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1514.53%20382.53a1.5%201.5%200%200%201-2.12%200l-2.65-2.64a7%207%200%201%201%202.12-2.12l2.65%202.64a1.5%201.5%200%200%201%200%202.12zM1506%20369a5%205%200%201%200%200%2010%205%205%200%200%200%200-10z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%2335aa6b%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1497%20-365)%22%2F%3E%3C%2Fsvg%3E") no-repeat center;
  position: absolute;
  border: none;
  right: 3px;
  bottom: 0;
  z-index: 2; }

.input-row .input-label_grey {
  color: #a9a7a6;
  min-height: initial;
  margin-bottom: 5px; }

.search-resoult-info {
  margin-bottom: 15px; }

.product-wrap {
  padding-bottom: 60px; }

@media (max-width: 514px) {
  .product-wrap [class*='col-'] {
    width: 100%; } }

.product {
  margin-bottom: 30px; }

.product__img {
  height: 215px;
  position: relative;
  overflow: hidden;
  cursor: pointer; }

.product__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.product__term {
  position: absolute;
  bottom: 15px;
  width: 90px;
  background-color: #35aa6b;
  color: #fff;
  line-height: 30px;
  text-align: center;
  padding: 0 3px;
  overflow: hidden;
  z-index: 2; }

.product__term_left {
  left: 15px; }

.product__term_right {
  right: 15px; }

.product__img-hover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.6);
  padding: 20px 17px;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.product__img-hover-text {
  height: 100px;
  color: #f9f6f4;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  overflow: hidden;
  padding-bottom: 5px; }

.product__img-hover-butn {
  text-align: center; }

.product__price {
  height: 50px;
  background-color: #35aa6b;
  color: #f9f6f4;
  font-size: 18px;
  font-weight: 800;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden; }

.product__description {
  min-height: 95px;
  border: 1px solid #e7e7e7;
  background-color: #ffffff;
  padding: 18px 13px 13px;
  text-align: center; }

.product__description-title {
  font-weight: 700;
  text-transform: uppercase; }

.product__img:hover .product__img-hover {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0); }

.jsNeighborHeight {
  height: 390px; }

.product-empty {
  border: 1px solid #35aa6b;
  display: block;
  padding: 20px;
  position: relative;
  height: -webkit-calc(100% - 30px);
  height: calc(100% - 30px);
  text-align: center;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.product-empty__info {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.product-empty__title {
  color: #35aa6b;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
  padding-top: 40px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.product-empty__title:before {
  content: "";
  display: block;
  position: absolute;
  width: 23px;
  height: 23px;
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1514.53%20382.53a1.5%201.5%200%200%201-2.12%200l-2.65-2.64a7%207%200%201%201%202.12-2.12l2.65%202.64a1.5%201.5%200%200%201%200%202.12zM1506%20369a5%205%200%201%200%200%2010%205%205%200%200%200%200-10z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%2335aa6b%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1497%20-365)%22%2F%3E%3C%2Fsvg%3E") no-repeat center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -15px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.product-empty__text {
  color: #35aa6b;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.product-empty:hover {
  text-decoration: none;
  background: #35aa6b; }

.product-empty:hover .product-empty__title, .product-empty:hover .product-empty__text {
  color: #fff; }

.product-empty:hover .product-empty__title:before {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1514.53%20382.53a1.5%201.5%200%200%201-2.12%200l-2.65-2.64a7%207%200%201%201%202.12-2.12l2.65%202.64a1.5%201.5%200%200%201%200%202.12zM1506%20369a5%205%200%201%200%200%2010%205%205%200%200%200%200-10z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23fff%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1497%20-365)%22%2F%3E%3C%2Fsvg%3E") no-repeat center;
  background-size: cover; }

.product-wrap-more-butn {
  text-align: center; }

.booking-page {
  margin-bottom: 30px; }

footer {
  overflow: hidden;
  padding: 60px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../img/bg-footer.png) no-repeat center;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/bg-footer.png) no-repeat center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/bg-footer.png) no-repeat center;
  background-size: cover; }

footer .container {
  text-align: justify;
  line-height: 0; }

footer .container:after {
  content: "";
  width: 100%;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  display: inline-block; }

@media (max-width: 767px) {
  footer .container {
    text-align: center;
    -moz-text-align-last: center;
         text-align-last: center; } }

.footer__item {
  display: inline-block;
  line-height: 1;
  vertical-align: top; }

@media (max-width: 767px) {
  .footer__item {
    width: 260px;
    margin-bottom: 30px; } }

.footer__item-title {
  color: #35aa6b;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 20px; }

.footer__phone span {
  display: block;
  color: #ffffff;
  margin-bottom: 5px; }

.footer__phone a {
  font-size: 22px;
  display: inline-block;
  color: #fff;
  margin-bottom: 15px; }

.footer__phone a:hover {
  text-decoration: none;
  color: #ccc; }

.footer__adress {
  margin-bottom: 50px; }

.footer__adress p {
  color: #fff;
  line-height: 1.5; }

.footer__sheldure {
  margin-bottom: 50px;
  color: #fff;
  font-weight: 800; }

.footer__links {
  list-style: none; }

.footer__links a {
  display: inline-block;
  color: #fff;
  margin-bottom: 15px; }

.footer__links a:hover {
  text-decoration: none;
  color: #ccc; }

.form-subscribe-wrap {
  margin-bottom: 50px; }

.form-subscribe-wrap input {
  width: 100%;
  border: 1px solid #04391d;
  background-color: #101112;
  margin-bottom: 15px;
  color: #999999;
  line-height: 1;
  padding: 15px 20px; }

.booknow-wrap {
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  bottom: -100%;
  padding: 5px;
  background: #fff;
  text-align: center;
  -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.04);
          box-shadow: 0 1px 30px rgba(0, 0, 0, 0.04);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

@media (max-width: 991px) {
  .booknow-wrap {
    display: block;
    bottom: 0; } }

.booknow-wrap.close {
  bottom: -100%; }

#booknow {
  position: relative;
  visibility: hidden; }
