//booking page
main.booking-page
	.container
		ul.breadcrumbs
			li
				a(href="holiday_page.html") Home
			li.active
				a(href="javascript:void(0)") Booking Page
		.inner-page-title Booking Page
		.row
			.col-md-9._mb30-mob
				.contact-form-wrapper__title.jsFormWrapToogle.open Lead booking person
				.contact-form-wrapper
					form#contactForm()
						.row
							.col-sm-6.col-md-3
								.input-row
									.input-row
										.input-label Your title:
										select.jsStyler
											option(value='0'  selected disabled) Choose your title
											option(value='title1') title1
											option(value='title2') title2
							.col-sm-6.col-md-9
								.input-row
									.input-label Your name:  <span>*</span>
									input(type='text' name='name' required placeholder='Enter your full name')
							.col-sm-6.col-md-8
								.input-row
									.input-label Full postal address: <span>*</span>
									input(type='text' name='adress' required placeholder='Enter your full postal adress')
							.col-sm-6.col-md-4
								.input-row
									.input-label Zip code: <span>*</span>
									input(type='text' name='zipCode' required placeholder='Enter your zip code')
							.col-sm-6.col-md-4
								.input-row
									.input-label Email Address: <span> *</span>
									input(type='email' name='email' required placeholder='Enter your email adress')
							.col-sm-6.col-md-4
								.input-row
									.input-label Contact Phone number: <span> *</span>
									input(type='tel' name='tel' required  placeholder='Enter your phone number')
						.row.jsHiddenTextareaWrap
							.col-sm-6.col-md-4
								.input-row
									.input-label Dietary requirements
									select.jsStyler
										option(value='1') Yes
										option(value='0' selected ) No
							.col-xs-12.jsHiddenTextarea
								.input-row
									textarea(name='dietaryRequirements' placeholder='Enter your dietary requirements')
				.contact-form-wrapper__title.jsFormWrapToogle.open Others in your party
				.contact-form-wrapper
					.row
						.col-sm-6.col-md-6
							.input-row
								.input-label Name:
								input(type='text' name='name'  placeholder='Enter full name')
						.col-sm-3.col-md-3
							.input-row
								.input-label Gender:
								select.jsStyler
									option(value='0'   selected disabled) Select gender
									option(value='male'  ) Male
									option(value='female'  ) Female
						.col-sm-3.col-md-3
							.input-row
								.input-label Age:
								select.jsStyler
									option(value='0'   selected disabled) Select age
									option(value='1') 1
									option(value='2') 2
									option(value='3') 3
									option(value='4') 4
									option(value='5') 5
									option(value='6') 6
									option(value='7') 7
									option(value='8') 8
					.divider.divider_mob
					.row
						.col-sm-6.col-md-6
							.input-row
								.input-label Name:
								input(type='text' name='name'  placeholder='Enter your full name')
						.col-sm-3.col-md-3
							.input-row
								.input-label Gender:
								select.jsStyler
									option(value='0'   selected disabled) Select gender
									option(value='male'  ) Male
									option(value='female'  ) Female
						.col-sm-3.col-md-3
							.input-row
								.input-label Age:
								select.jsStyler
									option(value='0'   selected disabled) Select age
									option(value='1') 1
									option(value='2') 2
									option(value='3') 3
									option(value='4') 4
				.contact-form-wrapper__title.jsFormWrapToogle.open payment options
				.contact-form-wrapper
					.row
						.col-sm-6.col-md-6
							.input-row
								label.radio-label
									input(type='radio' value='low' name='payment')
									span <b>Low Deposit and instalment plan</b>
						.col-sm-6.col-md-6
							.input-row
								label.radio-label
									input(type='radio' value='split' name='payment')
									span Split payments over multiple cards
						.col-sm-6.col-md-6
							.input-row
								label.radio-label
									input(type='radio' value='BACS/IBAN' name='payment')
									span Pay by BACS/IBAN or Cheque
						.col-sm-6.col-md-6
								.input-row
									label.radio-label
										input(type='radio' value='6weeks' name='payment')
										span Deposit with balance paid 6 weeks prior to holiday
						.col-sm-6.col-md-6
								.input-row
									label.radio-label
										input(type='radio' value='full' name='payment')
										span Full amount
					.divider
					.amount-wrap
						.amount
							.amount__title FULL AMOUNT:
							.amount__value £1000
						.amount
							.amount__title DEPOSIT WITH BALANCE:
							.amount__value £400
					.divider
					.butn-row
						.input-row
							label.checkbox-label
								input(type='checkbox' value='agree' name='terms')
								span Please tick this box to agree to our <a href='#'>terms & conditions.</a>
						button.butn.butn_xl(type='submit') Book now
			.col-md-3
				.side-form
					.side-form__title Trip Details
						.side-form__title-butns
							a.butn.butn_green(href='') Edit
							a.butn.butn_green(href='') Remove
					.side-form__inputs-wrap
						ul.full-itinerary-list__ul
							li
								.full-itinerary-list__date Itinerary name:
								.full-itinerary-list__trail Route: From Minehead to
									|Westward Ho!
							li
								.full-itinerary-list__date Number of nights:
								.full-itinerary-list__trail 8
							li
								.full-itinerary-list__date Start Date:
								.full-itinerary-list__trail 21/10/2017
							li
								.full-itinerary-list__date End Date:
								.full-itinerary-list__trail 29/10/2017
							li
								.full-itinerary-list__date Number in group:
								.full-itinerary-list__trail 5
							li
								.full-itinerary-list__date Room type(s):
								.full-itinerary-list__trail 1 x Double Room<br>2 x Single Rooms
							li
								.full-itinerary-list__date Maps:
								.full-itinerary-list__trail Yes
							li
								.full-itinerary-list__date Guidebook:
								.full-itinerary-list__trail Yes
							li
								.full-itinerary-list__date Holiday pack:
								.full-itinerary-list__trail Postal
							li
								.full-itinerary-list__date Rest Days:
								.full-itinerary-list__trail 3
					.side-form__inputs-wrap.full-itinerary-list
						.full-itinerary-list__title.jsInputTriger Full itinerary:
						ul.full-itinerary-list__ul._dn
							li
								.full-itinerary-list__date 01/01/18
								.full-itinerary-list__trail Arrive Minehead
							li
								.full-itinerary-list__date 02/01/18
								.full-itinerary-list__trail Walk to Porlock (9 miles)
							li
								.full-itinerary-list__date 03/01/18
								.full-itinerary-list__trail Walk to Lynmouth (12 miles)
							li
								.full-itinerary-list__date 01/01/18
								.full-itinerary-list__trail Arrive Minehead
							li
								.full-itinerary-list__date 04/01/18

								.full-itinerary-list__trail Walk to Combe Martin (13.5 miles)
							li
								.full-itinerary-list__date 05/01/18
								.full-itinerary-list__trail Walk to Woolacombe (14 miles)
							li
								.full-itinerary-list__date 06/01/18
								.full-itinerary-list__trail Walk to Braunton (15 miles)
							li
								.full-itinerary-list__date 08/01/18
								.full-itinerary-list__trail Walk to Westward Ho! (11 miles)
							li
								.full-itinerary-list__date 09/01/18
								.full-itinerary-list__trail Depart Westward Ho!
					.side-form__butn
						.side-form__price From 2 927 USD
// / booking page