main
	.container
		.row
			.col-md-9
				ul.breadcrumbs
					li
						a(href="#") Home 
					li
						a(href="#") Routes
					li.active
						a(href="javascript:void(0)") ROUTE: FROM MINEHEAD TO WESTWARD HO!
				.page-title ROUTE: FROM MINEHEAD TO WESTWARD HO!
				.sliders-wrap.clearfix
					.slider-for
						.slider-for__item
							a.slider-for__img(href="img/img-slider1.png" data-fancybox="gallery")
								img(src='img/img-slider1.png' alt='')
						.slider-for__item
							a.slider-for__img(href="img/img-slider2.png" data-fancybox="gallery")
								img(src='img/img-slider2.png' alt='')
						.slider-for__item
							a.slider-for__img(href="img/img-slider3.png" data-fancybox="gallery")
								img(src='img/img-slider3.png' alt='')
						.slider-for__item
							a.slider-for__img(href="img/img-slider4.png" data-fancybox="gallery")
								img(src='img/img-slider4.png' alt='')
						.slider-for__item
							a.slider-for__img(href="img/img-slider5.png" data-fancybox="gallery")
								img(src='img/img-slider5.png' alt='')
						.slider-for__item
							a.slider-for__img(href="img/img-slider6.png" data-fancybox="gallery")
								img(src='img/img-slider6.png' alt='')

					.slider-nav
						.slider-nav__item
							.slider-nav__img
								img(src='img/img-slider1.png' alt='')
						.slider-nav__item
							.slider-nav__img
								img(src='img/img-slider2.png' alt='')
						.slider-nav__item
							.slider-nav__img
								img(src='img/img-slider3.png' alt='')
						.slider-nav__item
							.slider-nav__img
								img(src='img/img-slider4.png' alt='')
						.slider-nav__item
							.slider-nav__img
								img(src='img/img-slider5.png' alt='')
						.slider-nav__item
							.slider-nav__img
								img(src='img/img-slider6.png' alt='')
				.sticky-nav-wrap
					ul.nav-tabs.page-nav(role="tablist")
						li.active(role="presentation")
							a(href='#description' role="tab" data-toggle="tab") Description
						li(role="presentation")
							a(href='#map' role="tab" data-toggle="tab") Map
						li(role="presentation")
							a(href='#facts' role="tab" data-toggle="tab") Quick Facts
						li(role="presentation")
							a(href='#itineraries' role="tab" data-toggle="tab") Itineraries
						li(role="presentation")
							a(href='#daily' role="tab" data-toggle="tab") Daily information
						li(role="presentation")
							a(href='#accommodations' role="tab" data-toggle="tab") Accommodations
						li(role="presentation")
							a(href='#travel' role="tab" data-toggle="tab") Travel
						li(role="presentation")
							a(href='#options' role="tab" data-toggle="tab") Upgrades & Options
						li(role="presentation")
							a(href='#reviews' role="tab" data-toggle="tab") Reviews

				section#description.tab-pane.active(role="tabpanel")
					.title
						span DESCRIPTION
					.text
						p The bustling coastal town of Minehead is recognised as being the start of the 630 mile long South West Coast Path,  marked by the monument in the form of gigantic hands holding a map. This is where it all begins for you.
						p All who start their walk here must experience a sense of stepping out on a formidable journey! Some may have lingering doubts, but will almost certainly have a sense of adventure as they cvontinue to walk across the highest cliffs in England and then inland onto Exmoor.
						p This journey takes in Lynmouth, Combe Martin, Woolacombe, Braunton, Instow and Westward Ho! And has exceptional views of the South Wales Coast.
				section#map.tab-pane.active(role="tabpanel")
					.title
						span MAP
					.img-wrap
						img(src='img/temp-img-map.png' alt='')
				section#facts.tab-pane.active(role="tabpanel")
					.title
						span QUICK FACTS
					.description
						.description__item
							.description__item-icon.svg-icon-calendar
							.description__item-title WHEN:
							.description__item-data March - September
						.description__item
							.description__item-icon.svg-icon-clock
							.description__item-title DURATION:
							.description__item-data (7-9 nights)
						.description__item
							.description__item-icon.svg-icon-distance
							.description__item-title TOTAL DISTANCE:
							.description__item-data (100 miles / 150 km)
					.text
						.subtitle Hughlights:
						p The bustling coastal town of Minehead is recognised as being the start of the 630 mile long South West Coast Path,  marked by the monument in the form of gigantic hands holding a map. This is where it all begins for you. Leaving the beautiful picturesque cobbled streets of St Ives, the path soon follows upwards to provide spectacular views.
						.subtitle INCLUDED:
						ul.ul-check
							li Overnight accommodation staying at carefully selected B&Bs, Inns and Hotels
							li A detailed holiday pack
							li Luggage transfers
							li Transport from path to accommodations if necessary
							li Maps
							li Guidebook
							li Emergency support.
						.subtitle not INCLUDED:
						ul.ul-x
							li Transport to and from the start and end of the holiday, unless stated.  We can help you with your options.
							li Packed Lunches and Evening Meals
							li Travel Insurance
						.img-wrap
							img(src='img/temp-img-route.png' alt='')
				section#itineraries.tab-pane.active(role="tabpanel")
					.title
						span Itineraries
					.route-wrap
						.route
							.route__title.jsToggleList From Padstow to St Ives<span> (3 days from £398)</span>
							.route__list
								.route__list-item
									.route__list-subitem Padstow
									.route__list-subitem
								.route__list-item
									.route__list-subitem Padstow  &#8594;  Falmouth
									.route__list-subitem
										.route__list-item-description
											.route__list-item-description-icon.svg-icon-distance
											.route__list-item-description-data <span> Distance:</span> 12 miles/20 km
										.route__list-item-description
											.route__list-item-description-icon.svg-icon-diff
											.route__list-item-description-data <span> Difficulty: </span> Strenuous
								.route__list-item
									.route__list-subitem Falmouth  &#8594;  St ives
									.route__list-subitem
										.route__list-item-description
											.route__list-item-description-icon.svg-icon-distance
											.route__list-item-description-data <span> Distance:</span> 13 miles/20 km
										.route__list-item-description
											.route__list-item-description-icon.svg-icon-diff
											.route__list-item-description-data <span> Difficulty: </span> Easy
					.route
						.route__title.jsToggleList From Padstow to St Ives<span> (4 days from £415)</span>
						.route__list
							.route__list-item
								.route__list-subitem Padstow
								.route__list-subitem

							.route__list-item
								.route__list-subitem Padstow  &#8594;  Falmouth
								.route__list-subitem
									.route__list-item-description
										.route__list-item-description-icon.svg-icon-distance
										.route__list-item-description-data <span> Distance:</span> 12 miles/20 km
									.route__list-item-description
										.route__list-item-description-icon.svg-icon-diff
										.route__list-item-description-data <span> Difficulty: </span> Strenuous
							.route__list-item
								.route__list-subitem Falmouth  &#8594;  St ives
								.route__list-subitem
									.route__list-item-description
										.route__list-item-description-icon.svg-icon-distance
										.route__list-item-description-data <span> Distance:</span> 13 miles/20 km
									.route__list-item-description
										.route__list-item-description-icon.svg-icon-diff
										.route__list-item-description-data <span> Difficulty: </span> Easy
							.route__list-item
								.route__list-subitem St Ives  &#8594;  Falmouth
								.route__list-subitem
									.route__list-item-description
										.route__list-item-description-icon.svg-icon-distance
										.route__list-item-description-data <span> Distance:</span> 13 miles/20 km
									.route__list-item-description
										.route__list-item-description-icon.svg-icon-diff
										.route__list-item-description-data <span> Difficulty: </span> Hard
					.route
						.route__title.jsToggleList From Padstow to St Ives<span> (5 days from £437)</span>
						.route__list
							.route__list-item
								.route__list-subitem Padstow
								.route__list-subitem
							.route__list-item
								.route__list-subitem Padstow  &#8594;  Falmouth
								.route__list-subitem
									.route__list-item-description
										.route__list-item-description-icon.svg-icon-distance
										.route__list-item-description-data <span> Distance:</span> 12 miles/20 km
									.route__list-item-description
										.route__list-item-description-icon.svg-icon-diff
										.route__list-item-description-data <span> Difficulty: </span> Strenuous
							.route__list-item
								.route__list-subitem Falmouth  &#8594;  St ives
								.route__list-subitem
									.route__list-item-description
										.route__list-item-description-icon.svg-icon-distance
										.route__list-item-description-data <span> Distance:</span> 13 miles/20 km
									.route__list-item-description
										.route__list-item-description-icon.svg-icon-diff
										.route__list-item-description-data <span> Difficulty: </span> Easy
							.route__list-item
								.route__list-subitem St Ives  &#8594;  Falmouth
								.route__list-subitem
									.route__list-item-description
										.route__list-item-description-icon.svg-icon-distance
										.route__list-item-description-data <span> Distance:</span> 13 miles/20 km
									.route__list-item-description
										.route__list-item-description-icon.svg-icon-diff
										.route__list-item-description-data <span> Difficulty: </span> Hard
							.route__list-item
								.route__list-subitem Falmouth  &#8594;  Exmouth
								.route__list-subitem
									.route__list-item-description
										.route__list-item-description-icon.svg-icon-distance
										.route__list-item-description-data <span> Distance:</span> 13 miles/20 km
									.route__list-item-description
										.route__list-item-description-icon.svg-icon-diff
										.route__list-item-description-data <span> Difficulty: </span> Hard
				section#daily.tab-pane.active(role="tabpanel")
					.title
						span daily information
					.daily
						.daily__title <span>St. Ives</span>
						.daily__map.img-wrap
							img(src='img/temp-img-map2.png' alt='')
						.text
							p Our most popular route on the whole South West Coast Path, the St Ives to Penzance itinerary has it all!
							p Leaving the beautiful picturesque cobbled streets of St Ives, the path soon follows upwards to provide spectacular views over the Atlantic Ocean with waves crashing onto the rugged dramatic cliffs below , passing Tin Mines perched on cliff tops and then iconic Lands’ End, before drifting through beautiful Lamorna and Mousehole and ending at bustling Penzance. This magical journey with a daily average of 10 miles (16km) is perfect for walkers of all abilities.
						.daily__title <span>St. Ives   &#8594;   Zennor</span>
						.daily__map.img-wrap
							img(src='img/temp-img-map2.png' alt='')
						.text
							p Our most popular route on the whole South West Coast Path, the St Ives to Penzance itinerary has it all!
							p Leaving the beautiful picturesque cobbled streets of St Ives, the path soon follows upwards to provide spectacular views over the Atlantic Ocean with waves crashing onto the rugged dramatic cliffs below , passing Tin Mines perched on cliff tops and then iconic Lands’ End, before drifting through beautiful Lamorna and Mousehole and ending at bustling Penzance. This magical journey with a daily average of 10 miles (16km) is perfect for walkers of all abilities.
						.daily__title <span>Zennor   &#8594;   St. Just</span>
						.daily__map.img-wrap
							img(src='img/temp-img-map2.png' alt='')
						.text
							p Our most popular route on the whole South West Coast Path, the St Ives to Penzance itinerary has it all!
							p Leaving the beautiful picturesque cobbled streets of St Ives, the path soon follows upwards to provide spectacular views over the Atlantic Ocean with waves crashing onto the rugged dramatic cliffs below , passing Tin Mines perched on cliff tops and then iconic Lands’ End, before drifting through beautiful Lamorna and Mousehole and ending at bustling Penzance. This magical journey with a daily average of 10 miles (16km) is perfect for walkers of all abilities.
						.daily__title <span>St Ives  &#8594;  Falmouth</span>
						.daily__map.img-wrap
							img(src='img/temp-img-map2.png' alt='')
						.text
							p Our most popular route on the whole South West Coast Path, the St Ives to Penzance itinerary has it all!
							p Leaving the beautiful picturesque cobbled streets of St Ives, the path soon follows upwards to provide spectacular views over the Atlantic Ocean with waves crashing onto the rugged dramatic cliffs below , passing Tin Mines perched on cliff tops and then iconic Lands’ End, before drifting through beautiful Lamorna and Mousehole and ending at bustling Penzance. This magical journey with a daily average of 10 miles (16km) is perfect for walkers of all abilities.
						.daily__title <span>Falmouth  &#8594;  Exmouth</span>
						.daily__map.img-wrap
							img(src='img/temp-img-map2.png' alt='')
						.text
							p Our most popular route on the whole South West Coast Path, the St Ives to Penzance itinerary has it all!
							p Leaving the beautiful picturesque cobbled streets of St Ives, the path soon follows upwards to provide spectacular views over the Atlantic Ocean with waves crashing onto the rugged dramatic cliffs below , passing Tin Mines perched on cliff tops and then iconic Lands’ End, before drifting through beautiful Lamorna and Mousehole and ending at bustling Penzance. This magical journey with a daily average of 10 miles (16km) is perfect for walkers of all abilities.
				section#accommodations.tab-pane.active(role="tabpanel")
					.title
						span Accomodation
					.text
						p Leaving the beautiful picturesque cobbled streets of St Ives, the path soon follows upwards to provide spectacular views over the Atlantic Ocean with waves crashing onto the rugged dramatic cliffs below.
					.row.img-with-description-wrap
						.col-sm-4
							.img-with-description
								.img-with-description__img
									img(src='img/img-accomodation1.png' alt='')
								.img-with-description__text
									p Our most popular route on the whole South West Coast Path, the St Ives to Penzance itinerary has it all!
									p Leaving the bea
						.col-sm-4
							.img-with-description
								.img-with-description__img
									img(src='img/img-accomodation2.png' alt='')
								.img-with-description__text
									p Our most popular route on the whole South West Coast Path, the St Ives to Penzance itinerary has it all!
									p Our most popular route on the whole South West Coast Path, the St Ives to Penzance itinerary has it all!
									p Leaving the bea
						.col-sm-4
							.img-with-description
								.img-with-description__img
									img(src='img/img-accomodation3.png' alt='')
								.img-with-description__text
									p Our most popular route on the whole South West Coast Path, the St Ives to Penzance itinerary has it all!
									p Leaving the beautiful picturesque cobbled streets of St Ives, the path soon follows upwards to provide spectacular views.
				section#travel.tab-pane.active(role="tabpanel")
					.title
						span Travel
					ul.ul-dotted
						li The bustling coastal town of Minehead is recognised as being the start of the 630 mile long South West Coast Path,  marked by the monument in the form of gigantic hands holding a map. This is where it all begins for you.
						li Our most popular route on the whole South West Coast Path, the St Ives to Penzance itinerary has it all!
						li Leaving the beautiful picturesque cobbled streets of St Ives, the path soon follows upwards to provide spectacular views.
						li Accommodation for the length of your holiday including the night before you start walking and the evening after your final day's walking in good quality B&Bs, Inns and small hotels. This will be en-suite wherever possible.
				section#options.tab-pane.active(role="tabpanel")
						.title
							span UPGRADES & OPTIONS
						.text.clearfix
							img.img-left(src='img/img-text1.png' alt='')
							ul.ul-dotted
								li The bustling coastal town of Minehead is recognised as being the start of the 630 mile long South West Coast Path,  marked by the monument in the form of gigantic hands holding a map. This is where it all begins for you.
								li Our most popular route on the whole South West Coast Path, the St Ives to Penzance itinerary has it all!
								li Leaving the beautiful picturesque cobbled streets of St Ives, the path soon follows upwards to provide spectacular views.
								li Accommodation for the length of your holiday including the night before you start walking and the evening after your final day's walking in good quality B&Bs, Inns and small hotels. This will be en-suite wherever possible.
							img.img-right(src='img/img-text2.png' alt='')
							ul.ul-dotted
								li The bustling coastal town of Minehead is recognised as being the start of the 630 mile long South West Coast Path,  marked by the monument in the form of gigantic hands holding a map. This is where it all begins for you.
								li Our most popular route on the whole South West Coast Path, the St Ives to Penzance itinerary has it all!
								li Leaving the beautiful picturesque cobbled streets of St Ives, the path soon follows upwards to provide spectacular views.
								li Accommodation for the length of your holiday including the night before you start walking and the evening after your final day's walking in good quality B&Bs, Inns and small hotels. This will be en-suite wherever possible.
				section#reviews.tab-pane.active(role="tabpanel")
					.title
						span Reviews
					.reviews-wrap
						.review
							.review__title
								.review__title-item
									.review__name John Doe
									.review__stars
										i.svg-icon-star-yellow
										i.svg-icon-star-yellow
										i.svg-icon-star-yellow
										i.svg-icon-star-yellow
										i.svg-icon-star-grey
								.review__title-item
									.route__list-item-description
										.route__list-item-description-icon.svg-icon-pin
										.route__list-item-description-data Combe Martin
									.route__list-item-description
										.route__list-item-description-icon.svg-icon-clock
										.route__list-item-description-data 21/06/2017
							.review__text
								p Leaving the beautiful picturesque cobbled streets of St Ives, the path soon follows upwards to provide spectacular views. This magical journey with a daily average of 10 miles (16km) is perfect for walkers of all abilities.
						.review
							.review__title
								.review__title-item
									.review__name Bernard Johnson
									.review__stars
										i.svg-icon-star-yellow
										i.svg-icon-star-yellow
										i.svg-icon-star-yellow
										i.svg-icon-star-yellow
										i.svg-icon-star-grey
								.review__title-item
									.route__list-item-description
										.route__list-item-description-icon.svg-icon-pin
										.route__list-item-description-data Instow
									.route__list-item-description
										.route__list-item-description-icon.svg-icon-clock
										.route__list-item-description-data 21/06/2017
							.review__text
								p Leaving the beautiful picturesque cobbled streets of St Ives, the path soon follows upwards to provide spectacular views. This magical journey with a daily average of 10 miles (16km) is perfect for walkers of all abilities.
								p Leaving the beautiful picturesque cobbled streets of St Ives, the path soon follows upwards to provide spectacular views. This magical journey with a daily average of 10 miles (16km) is perfect for walkers of all abilities.
						.review
							.review__title
								.review__title-item
									.review__name Gillian Anderson
									.review__stars
										i.svg-icon-star-yellow
										i.svg-icon-star-yellow
										i.svg-icon-star-yellow
										i.svg-icon-star-yellow
										i.svg-icon-star-grey
								.review__title-item
									.route__list-item-description
										.route__list-item-description-icon.svg-icon-pin
										.route__list-item-description-data Instow
									.route__list-item-description
										.route__list-item-description-icon.svg-icon-clock
										.route__list-item-description-data 21/06/2017
							.review__text
								p Leaving the beautiful picturesque cobbled streets of St Ives, the path soon follows upwards to provide spectacular views. This magical journey with a daily average of 10 miles (16km) is perfect for walkers of all abilities.
								p Leaving the beautiful picturesque cobbled streets of St Ives, the path soon follows upwards to provide spectacular views. This magical journey with a daily average of 10 miles (16km) is perfect for walkers of all abilities.
								p Leaving the beautiful picturesque cobbled streets of St Ives, the path soon follows upwards to provide spectacular views. This magical journey with a daily average of 10 miles (16km) is perfect for walkers of all abilities.
						.reviews-wrap__butn
							a.butn(href='#') Show more
			.col-md-3
				#booknow
				form.side-form
					.side-form__title Book your holiday
					.side-form__inputs-wrap
						.side-form__input
							.side-form__input-title Which itinerary
							select.jsStyler
								option(value='' disabled selected) Choose a itinerary
								option(value='1') Choose a itinerary1
								option(value='2') Choose a itinerary2
								option(value='3') Choose a itinerary3
						.side-form__input
							.side-form__input-title Date
							.datapick-holder
								input#jsPopupDatepicker(type='text' placeholder="Choose Date")
						.side-form__input
							.side-form__input-title Number of walkers
							select.jsStyler.jsStage2trigger
								option(value='' disabled selected) Choose a number
								option(value='1') 1
								option(value='2') 2
								option(value='3') 3
								option(value='4') 4
								option(value='5+') 5+
						.stage2
							.side-form__input
								.side-form__input-title Room Type
								select.jsStyler
									option(value='' disabled selected) Choose a type
									option(value='1') type1
									option(value='2') type2
									option(value='3') type3
							.side-form__input
								.side-form__input-title Maps?
								select.jsStyler
									option(value='Yes' selected) Yes
									option(value='No') No
							.side-form__input
								.side-form__input-title Guidebook?
								select.jsStyler
									option(value='Yes' selected) Yes
									option(value='No') No
							.side-form__input
								.side-form__input-title Holiday Pack
								select.jsStyler
									option(value='Postal'  selected) Postal
									option(value='Email') Email
							.side-form__input
								.side-form__input-title Add rest days
								select.jsStyler.jsStage3trigger
									option(value='No' selected) No
									option(value='Yes') Yes
						.stage3
							.side-form__input
								.side-form__input-title Minehead - rest day(s)?
								select.jsStyler
									option(value='0' selected) 0
									option(value='1') 1
									option(value='2') 2
									option(value='3') 3
							.side-form__input
								.side-form__input-title Porlock – rest day(s)?
								select.jsStyler
									option(value='0' selected) 0
									option(value='1') 1
									option(value='2') 2
									option(value='3') 3
							.side-form__input
								.side-form__input-title Lunmouth – rest day(s)?
								select.jsStyler
									option(value='0' selected) 0
									option(value='1') 1
									option(value='2') 2
									option(value='3') 3
							.side-form__input
								.side-form__input-title Combe Martin – rest day(s)?
								select.jsStyler
									option(value='0' selected) 0
									option(value='1') 1
									option(value='2') 2
									option(value='3') 3
							.side-form__input
								.side-form__input-title Woolacombe – rest day(s)?
								select.jsStyler
									option(value='0' selected) 0
									option(value='1') 1
									option(value='2') 2
									option(value='3') 3
							.side-form__input
								.side-form__input-title Braunton – rest day(s)?
								select.jsStyler
									option(value='0' selected) 0
									option(value='1') 1
									option(value='2') 2
									option(value='3') 3
							.side-form__input
								.side-form__input-title Instow – rest day(s)?
								select.jsStyler
									option(value='0' selected) 0
									option(value='1') 1
									option(value='2') 2
									option(value='3') 3
							.side-form__input
								.side-form__input-title Westward – rest day(s)?
								select.jsStyler
									option(value='0' selected) 0
									option(value='1') 1
									option(value='2') 2
									option(value='3') 3
					.side-form__inputs-wrap.stage2.full-itinerary-list
							.full-itinerary-list__title Full itinerary:
							ul.full-itinerary-list__ul
								li
									.full-itinerary-list__date 01/01/18
									.full-itinerary-list__trail Arrive Minehead
								li
									.full-itinerary-list__date 02/01/18
									.full-itinerary-list__trail Walk to Porlock (9 miles)
								li
									.full-itinerary-list__date 03/01/18
									.full-itinerary-list__trail Walk to Lynmouth (12 miles)
								li
									.full-itinerary-list__date 01/01/18
									.full-itinerary-list__trail Arrive Minehead
								li
									.full-itinerary-list__date 04/01/18

									.full-itinerary-list__trail Walk to Combe Martin (13.5 miles)
								li
									.full-itinerary-list__date 05/01/18
									.full-itinerary-list__trail Walk to Woolacombe (14 miles)
								li
									.full-itinerary-list__date 06/01/18
									.full-itinerary-list__trail Walk to Braunton (15 miles)
								li
									.full-itinerary-list__date 08/01/18
									.full-itinerary-list__trail Walk to Westward Ho! (11 miles)
								li
									.full-itinerary-list__date 09/01/18
									.full-itinerary-list__trail Depart Westward Ho!
					.side-form__butn
						.side-form__price._pb15 From 2 927 USD
						button.butn.butn_hover-wh(type='submit') BOOK now
				.notice
					ul.ul-check
						li No Credit Card Fees
						li Pay in Monthly Instalments
						li Free pickup
						li No booking fees
					.notice__butns
						a.butn.butn_wh(href='#') Enquire about this Holiday
						a.butn.butn_wh(href='#') Booking conditions
						a.butn.butn_wh(href='#') Best price guaranteed





