//contact us page
main
	.container
		ul.breadcrumbs
			li
				a(href="#") Home
			li.active
				a(href="javascript:void(0)") Holiday Enquiry page
		.inner-page-title Holiday Enquiry page
		.text.text_fs16
			p Please fill in the form below, giving us as much information as possible.  You will normally get a response within 24 hours, unless it's the weekend, and then you will receive a response on Monday.
		.contact-form-wrapper
			form#contactForm()
				.row
					.col-sm-6.col-md-4
						.input-row
							.input-label Your name:  <span>*</span>
							input#name(type='text' name='name' required placeholder='Enter your full name')
							.icon.icon_user
					.col-sm-6.col-md-4
						.input-row
							.input-label Your Country:  <span>*</span>
							input#country(type='text' name='country' required placeholder='Enter the country you reside in')
							.icon.icon_earth
					.col-sm-6.col-md-4
						.input-row
							.input-label Your Email Address : <span>*</span>
							input#email(type='email' name='email' required placeholder='Enter your email')
							.icon.icon_mail
					.col-sm-6.col-md-4
						.input-row
							.input-label Your Phone Number:
							input#tel(type='tel' name='tel'  placeholder='Enter your phone number')
							.icon.icon_phone
					.col-sm-6.col-md-4
						.input-row
							.input-label Preferred contact method:
							select.jsStyler
								option(value='email'  selected) Email
								option(value='phone') Phone
				.divider
				.row
					.col-sm-6.col-md-6
						.input-row
							.input-label Holiday:
							select.jsStyler
								option(value='1'  selected) South West Coast Path - Padstow to St Ives
								option(value='2'  ) South West Coast Path - Padstow to St Ives
					.col-sm-6.col-md-6
						.input-row
							.input-label Itinerary:
							select.jsStyler
								option(value='1'  selected) 5 days - 6 nights / 13.5 miles daily average
								option(value='2') 5 days - 6 nights / 13.5 miles daily average
					.col-sm-6.col-md-6.col-lg-3
						.input-row
							.input-label Number of people:
							select.jsStyler
								option(value='1'  selected) 1
								option(value='2') 2
					.col-sm-6.col-md-6.col-lg-3
						.input-row
							.input-label Approximate start date:
							.datapick-holder
								input#jsPopupDatepicker(type='text' placeholder="Choose Date")
								.icon.icon_calendar
					.col-sm-6.col-md-6.col-lg-3
						.input-row
							.input-label Number of nights
							select.jsStyler
								option(value='1'  selected) 1
								option(value='2') 2
								option(value='3') 3
					.col-sm-6.col-md-6.col-lg-3
						.input-row
							.input-label Are you interested in the upgrade options?
							select.jsStyler
								option(value='Yes' selected) Yes
								option(value='No') No
					.col-xs-12
						.input-row
							.input-label Your holiday enquiry:  <span>*</span>
							textarea(name='message' placeholder='Enter your enquiry here')
					.col-xs-12
						.butn-row
							button.butn(type='submit') Send Enquiry
//contact us page




