//main page
main
	.container
		ul.breadcrumbs
			li
				a(href="holiday_page.html") Home
			li.active
				a(href="javascript:void(0)") Search results
		.inner-page-title Search results  <span class='searchResult'> (55 items found)</a>
		.row
			.col-sm-6.col-md-4
				.input-row
					.input-label.input-label_grey Location:
					select.jsStyler
						option(value='England – South') England – South
						option(value='England – South') England – South
						option(value='England – South') England – South
			.col-sm-6.col-md-4
				.input-row
					.input-label.input-label_grey Path name:
					select.jsStyler
						option(value='South West Coast Path') South West Coast Path
						option(value='South West Coast Path') South West Coast Path
						option(value='South West Coast Path') South West Coast Path
			.col-sm-6.col-md-4
				.input-row
					.input-label.input-label_grey Number of nights:
					select.jsStyler
						option(value='1') 1
						option(value='2') 2
						option(value='3') 3
						option(value='4') 4
						option(value='Under 5') Under 5
			.col-sm-6.col-md-12
				.input-row.search-row
					.input-label.input-label_grey Search itineraries:
					input(type='search' name='search' placeholder='Enter name of the location')
					button(type='submit')
		.search-resoult-info  Showing <b>1 - 11</b> of 55 results:
		.product-wrap
			.row
				.col-xs-6.col-md-4.col-lg-3
					.product
						.product__img
							img(src='img/img-product1.png' alt='')
							.product__term.product__term_left 7 days
							.product__term.product__term_right Sept. - Oct.
							a(href="#").product__img-hover
								.product__img-hover-text Reserver this 4-day Northern Lights self-drive tour to see of the West and South Iceland. You’ll travel the best attractions in Iceland.
								.product__img-hover-butn
									.butn.butn_sm View more
						.product__price From 1 254 USD
						.product__description
							.product__description-title The saints way
							.product__description-text  Minehead to Westward Ho! Somerset and North DevonMinehead to Westward Ho!
				.col-xs-6.col-md-4.col-lg-3
					.product
						.product__img
							img(src='img/img-product1.png' alt='')
							.product__term.product__term_left 7 days
							.product__term.product__term_right Sept. - Oct.
							a(href="#").product__img-hover
								.product__img-hover-text Reserver this 4-day Northern Lights self-drive tour to see of the West and South Iceland. You’ll travel the best attractions in Iceland.
								.product__img-hover-butn
									.butn.butn_sm View more
						.product__price From 1 254 USD
						.product__description
							.product__description-title The saints way
							.product__description-text Minehead to Westward Ho! Somerset and North Devon
				.col-xs-6.col-md-4.col-lg-3
					.product
						.product__img
							img(src='img/img-product1.png' alt='')
							.product__term.product__term_left 7 days
							.product__term.product__term_right Sept. - Oct.
							a(href="#").product__img-hover
								.product__img-hover-text Reserver this 4-day Northern Lights self-drive tour to see of the West and South Iceland. You’ll travel the best attractions in Iceland.
								.product__img-hover-butn
									.butn.butn_sm View more
						.product__price From 1 254 USD
						.product__description
							.product__description-title The saints way
							.product__description-text Minehead to Westward Ho! Somerset and North Devon
				.col-xs-6.col-md-4.col-lg-3
					.product
						.product__img
							img(src='img/img-product1.png' alt='')
							.product__term.product__term_left 7 days
							.product__term.product__term_right Sept. - Oct.
							a(href="#").product__img-hover
								.product__img-hover-text Reserver this 4-day Northern Lights self-drive tour to see of the West and South Iceland. You’ll travel the best attractions in Iceland.
								.product__img-hover-butn
									.butn.butn_sm View more
						.product__price From 1 254 USD
						.product__description
							.product__description-title The saints way
							.product__description-text Minehead to Westward Ho! Somerset and North Devon
				.col-xs-6.col-md-4.col-lg-3
					.product
						.product__img
							img(src='img/img-product1.png' alt='')
							.product__term.product__term_left 7 days
							.product__term.product__term_right Sept. - Oct.
							a(href="#").product__img-hover
								.product__img-hover-text Reserver this 4-day Northern Lights self-drive tour to see of the West and South Iceland. You’ll travel the best attractions in Iceland.
								.product__img-hover-butn
									.butn.butn_sm View more
						.product__price From 1 254 USD
						.product__description
							.product__description-title The saints way
							.product__description-text Minehead to Westward Ho! Somerset and North Devon
				.col-xs-6.col-md-4.col-lg-3
					.product
						.product__img
							img(src='img/img-product1.png' alt='')
							.product__term.product__term_left 7 days
							.product__term.product__term_right Sept. - Oct.
							a(href="#").product__img-hover
								.product__img-hover-text Reserver this 4-day Northern Lights self-drive tour to see of the West and South Iceland. You’ll travel the best attractions in Iceland.
								.product__img-hover-butn
									.butn.butn_sm View more
						.product__price From 1 254 USD
						.product__description
							.product__description-title The saints way
							.product__description-text Minehead to Westward Ho! Somerset and North Devon
				.col-xs-6.col-md-4.col-lg-3
					.product
						.product__img
							img(src='img/img-product1.png' alt='')
							.product__term.product__term_left 7 days
							.product__term.product__term_right Sept. - Oct.
							a(href="#").product__img-hover
								.product__img-hover-text Reserver this 4-day Northern Lights self-drive tour to see of the West and South Iceland. You’ll travel the best attractions in Iceland.
								.product__img-hover-butn
									.butn.butn_sm View more
						.product__price From 1 254 USD
						.product__description
							.product__description-title The saints way
							.product__description-text Minehead to Westward Ho! Somerset and North Devon
				.col-xs-6.col-md-4.col-lg-3
					.product
						.product__img
							img(src='img/img-product1.png' alt='')
							.product__term.product__term_left 7 days
							.product__term.product__term_right Sept. - Oct.
							a(href="#").product__img-hover
								.product__img-hover-text Reserver this 4-day Northern Lights self-drive tour to see of the West and South Iceland. You’ll travel the best attractions in Iceland.
								.product__img-hover-butn
									.butn.butn_sm View more
						.product__price From 1 254 USD
						.product__description
							.product__description-title The saints way
							.product__description-text Minehead to Westward Ho! Somerset and North Devon
				.col-xs-6.col-md-4.col-lg-3
					.product
						.product__img
							img(src='img/img-product1.png' alt='')
							.product__term.product__term_left 7 days
							.product__term.product__term_right Sept. - Oct.
							a(href="#").product__img-hover
								.product__img-hover-text Reserver this 4-day Northern Lights self-drive tour to see of the West and South Iceland. You’ll travel the best attractions in Iceland.
								.product__img-hover-butn
									.butn.butn_sm View more
						.product__price From 1 254 USD
						.product__description
							.product__description-title The saints way
							.product__description-text Minehead to Westward Ho! Somerset and North Devon
				.col-xs-6.col-md-4.col-lg-3
					.product
						.product__img
							img(src='img/img-product1.png' alt='')
							.product__term.product__term_left 7 days
							.product__term.product__term_right Sept. - Oct.
							a(href="#").product__img-hover
								.product__img-hover-text Reserver this 4-day Northern Lights self-drive tour to see of the West and South Iceland. You’ll travel the best attractions in Iceland.
								.product__img-hover-butn
									.butn.butn_sm View more
						.product__price From 1 254 USD
						.product__description
							.product__description-title The saints way
							.product__description-text Minehead to Westward Ho! Somerset and North Devon
				.col-xs-6.col-md-4.col-lg-3
					.product
						.product__img
							img(src='img/img-product1.png' alt='')
							.product__term.product__term_left 7 days
							.product__term.product__term_right Sept. - Oct.
							a(href="#").product__img-hover
								.product__img-hover-text Reserver this 4-day Northern Lights self-drive tour to see of the West and South Iceland. You’ll travel the best attractions in Iceland.
								.product__img-hover-butn
									.butn.butn_sm View more
						.product__price From 1 254 USD
						.product__description
							.product__description-title The saints way
							.product__description-text Minehead to Westward Ho! Somerset and North Devon
				.col-xs-6.col-md-4.col-lg-3.jsNeighborHeight
					a(href='#').product-empty
						.product-empty__info
							.product-empty__title Can't find what you are looking for?
							.product-empty__text Click here to create your own adventure
			.product-wrap-more-butn
				a.butn(href="#") Show more
// / booking page