// footer
footer
	.container
		.footer__item
			.footer__item-title Walk the trail
			.footer__phone
				span Speak to an expert:
				a(href='tel:+4401326567252') +44 01326 567252
			.footer__adress
				p The Old Stable<br>Rear of 12 Wendron Street<br>Helston<br>Cornwall<br>TR13 8PS
			.footer__item-title Our office hours are:
			.footer__sheldure 09:00-16:30  Monday-Friday
			ul.footer__links
				li
					a(href='#') About us
				li
					a(href='#') Terms and Conditions
		.footer__item
			.footer__item-title TYPE OF HOLIDAY
			ul.footer__links
				li
					a(href="#") Coastal
				li
					a(href="#") Inland
				li
					a(href="#") Cornwal
				li
					a(href="#") Devon
				li
					a(href="#") Dorset
				li
					a(href="#") Somerset
				li
					a(href="#") Pembrokshire
				li
					a(href="#") Cotswolds
				li
					a(href="#") South Downs Way
				li
					a(href="#") Northern England
				li
					a(href="#") Luxury Itenearies
				li
					a(href="#") Short Holidays
				li
					a(href="#") Long Distance Challanges
		.footer__item
			.footer__item-title Sign up for news
			.form-subscribe-wrap
				form#subscribe()
					.input-row
						input(type='text' name='name' placeholder='Name')
					.input-row
						input(type='email' name='email' placeholder='Email')
					.input-row
						button.butn(type='submit') SUBMIT
			.footer__item-title Payment methods
			.footer__payments
				img(src='img/icon-payments.png' alt='')
// /footer

