//header
header
	.header__top
		.container
			.header__top-item
				.phone
					span Speak to an expert on
					a(href="tel:+4401326567252") +4401326567252
			.header__top-item
				ul#nav-mini
					li
						a(href="#") About us
					li 
						a(href="#") Walker’s Area
					li
						a(href="#")  Contact us
			.header__top-item
				.search
					.jsSearchToggle
					input(type='search')
					button(type='submit')
				.lang-switch.jsLangswitch
					.flag.flag_eng
					p Eng
					ul.lang-switch__dropdown
						li
							a(href='#')
								.flag.flag_eng
								| Eng
						li
							a(href='#')
								.flag.flag_eng
								| Eng
				.social
					a.fb(href="#" target='_blank')
					a.tw(href="#" target='_blank')
	.header__bottom
		.container
			.logo
				img(src="img/logo.svg", alt="logo")
			ul#nav
				li
					a(href="#") BOOK YOUR TRIP 
				li
					a(href="#") SOUTHERN ENGLAND
				li
					a(href="#") NORTHERN ENGLAND
				li
					a(href="#") WALES
			#hamburger(role='button')
				span
				span
				span
				span
// /header
			
			
			
	
