doctype html
html(lang="en")
	head
		include ./_head
	body
		include ./components/_header
		include ./components/_content_holiday_page
		include ./components/_footer
		.booknow-wrap
			a.butn(href='#booknow') Book now
		//-scripts
		
		//- jquery:js
		script(src="vendor/js/jquery.js")
		//- endinject
		//- inject:js
		script(src="vendor/js/bootstrap.min.js")

		script(src="vendor/js/jquery.fancybox.min.js")
		script(src="vendor/js/jquery.formstyler.min.js")
		script(src="vendor/js/jquery.plugin.js")
		script(src="vendor/js/jquery.datepick.min.js")
		script(src="vendor/js/jquery.scrolling-tabs.min.js")
		script(src="vendor/js/slick.js")
		script(src="js/main.js")
		script.
			//stickyNav
			$(document).ready(function () {
			var stickyNavTop = $('.sticky-nav-wrap').offset().top;
			var parentWidth;
			var stickyNav = function () {
				var scrollTop = $(window).scrollTop();

				if (scrollTop > stickyNavTop) {
					// parentWidth = $('.page-nav').parents('.col-md-9').width();


					$('.sticky-nav-wrap').addClass('sticky');
				} else {
					$('.sticky-nav-wrap').removeClass('sticky');
				}
			};
			stickyNav();
			$(window).scroll(function () {
				stickyNav();
			});
			});
			//booknow active
			$(window).scroll(function() {
				var scroll = $(window).scrollTop();
				var objectSelect = $("#booknow");
				var objectPosition = objectSelect.offset().top - 100;
				if (scroll > objectPosition) {
					$(".booknow-wrap").addClass("close");
				} else {
					$(".booknow-wrap").removeClass("close");
				}
			});




		//- endinject