doctype html
html(lang="en")
	head
		include ./_head
	body
		include ./components/_header
		.container(style="min-height: 50vh;")
			ol
				li
					a(href='holiday_page.html') holiday_page.html
				li
					a(href='holiday_enquiry_page.html') holiday_enquiry_page.htmll
				li
					a(href='booking_page.html') booking_page.html
				li
					a(href='search_page.html') search_page.html
				li
					a(href='main_page.html') main_page.html
		include ./components/_footer
		//-scripts
		//- jquery:js
		script(src="vendor/js/jquery.js")
		//- endinject
		//- inject:js
		script(src="vendor/js/bootstrap.min.js")
		script(src="vendor/js/jquery.fancybox.min.js")
		script(src="vendor/js/jquery.formstyler.min.js")
		script(src="vendor/js/jquery.plugin.js")
		script(src="vendor/js/jquery.datepick.min.js")
		script(src="vendor/js/jquery.scrolling-tabs.min.js")
		script(src="vendor/js/slick.js")
		script(src="js/main.js")
		//- endinject