doctype html
html(lang="en")
	head
		include ./_head
	body
		include ./components/_header
		include ./components/_content_search_page
		include ./components/_footer
		//-scripts
		
		//- jquery:js
		script(src="vendor/js/jquery.js")
		//- endinject
		//- inject:js
		script(src="vendor/js/bootstrap.min.js")
		script(src="vendor/js/jquery.fancybox.min.js")
		script(src="vendor/js/jquery.formstyler.min.js")
		script(src="vendor/js/jquery.plugin.js")
		script(src="vendor/js/jquery.datepick.min.js")
		script(src="vendor/js/jquery.scrolling-tabs.min.js")
		script(src="vendor/js/slick.js")
		script(src="js/main.js")
		//- endinject