/*--== buttons ==--*/
.butn{
    display: inline-block;
    min-width: 180px;
    background-color: #ffc802;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    padding: 15px 15px 14px;
    color: #000000;
    font-weight: 800;
    border-radius: 4px;
    border: 1px  solid transparent;
    @include trans;
    text-align: center;
    &:hover{
        color: #ffffff;
        text-decoration: none;
        background: #35aa6b;
    }
    &_hover-wh{
        &:hover{
            color: #b5b5b5;
            text-decoration: none;
            border: 1px solid #e7e7e7;
            background-color: #ffffff;
        }
    }
    &_wh{
        border: 1px solid #e7e7e7;
        background-color: #ffffff;
        color: #e7e7e7;
        text-transform: none;
        padding: 12px;
        &:hover{
            color: #000;
            text-decoration: none;
            border: 1px solid #ffc802;
            background-color:#ffc802;
        }

    }
    &_xl{
        padding: 22px 15px;
    }
    &_green{
        padding: 12px 15px;
        border: 1px solid #9ad5b5;
        text-transform: none;
        background-color:#35aa6b;
        color: #ffffff;
        &:hover{
            background-color:#ffc802;
            color: #000;
        }
    }
    &_sm{
        padding: 10px 15px 9px;
        text-transform: none;
    }
}
/*--== /buttons ==--*/
