footer {
    overflow: hidden;
    padding: 60px 0;
    background: linear-gradient(
                    rgba(0, 0, 0, 0.4),
                    rgba(0, 0, 0, 0.4)
    ),
    url(../img/bg-footer.png) no-repeat center;
    background-size: cover;
    .container {
        @include jusWrap;
        line-height: 0;
        @include bp(767){
            text-align: center;
            text-align-last: center;
        }
    }
}

.footer__item {
    display: inline-block;
    line-height: 1;
    vertical-align: top;
    @include bp(767){
        width: 260px;
        margin-bottom: 30px;
    }
}

.footer__item-title {
    color: #35aa6b;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer__phone {
    span {
        display: block;
        color: #ffffff;
        margin-bottom: 5px;
    }
    a {
        font-size: 22px;
        display: inline-block;
        color: #fff;
        margin-bottom: 15px;
        &:hover{
            text-decoration: none;
            color: #ccc;
        }
    }
}
.footer__adress{
    margin-bottom: 50px;
    p{
        color: #fff;
        line-height: 1.5;
    }
}
.footer__sheldure{
    margin-bottom: 50px;
    color: #fff;
    font-weight: 800;
}
.footer__links{
    list-style: none;
    a{
        display: inline-block;
        color: #fff;
        margin-bottom: 15px;

        &:hover{
            text-decoration: none;
            color: #ccc;
        }
    }
}
.form-subscribe-wrap{
    margin-bottom: 50px;
    input{
        width: 100%;
        border: 1px solid #04391d;
        background-color: #101112;
        margin-bottom: 15px;
        color: #999999;
        line-height: 1;
        padding: 15px 20px;
    }
}
.booknow-wrap{
    position: fixed;
    z-index: 999;
    left: 0;
    right: 0;
    bottom: -100%;
    padding: 5px;
    background: #fff;
    text-align: center;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.04);
    @include trans;
    @include bp(991){
        display: block;
        bottom: 0;
    }
    &.close{
        bottom: -100%;
    }
}
#booknow{
    position: relative;
    visibility: hidden;
}