header {
    background: url(../img/bg-header.png) no-repeat center;
    background-size: cover;
}

.header {
    &__top {
        vertical-align: top;
        padding: 10px 0;
        text-align-last: justify;

        //display: flex;
        //justify-content: space-between;
        @include jusWrap;
        line-height: 0;
        @include bp(767) {
            text-align-last: initial;
            text-align: center;
        }
    }
    &__top-item {
        vertical-align: top;
        display: inline-block;
        @include bp(991) {
            &:last-child {
                display: block;
                max-width: 300px;
                margin: 15px auto 0;
            }
        }
        @include bp(767) {
            display: block;
            text-align: center;
        }

    }
    &__bottom {
        background: rgba(#000, .6);

        .container {
            position: relative;
            padding: 15px 0;
            text-align-last: justify;
            line-height: 0;
            font-size: 0;
            @include jusWrap;
        }
    }
}

.phone {
    color: #ccc;
    position: relative;
    padding-left: 25px;
    line-height: 1;
    text-shadow: 0 0 5px rgba(0, 0, 0, .8);
    @include bp(767) {
        display: inline-block;
        margin-bottom: 15px;
    }
    &:before {
        @include pseudo;
        left: 0;
        top: 3px;
        width: 13px;
        height: 13px;
        background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2217%22%20height%3D%2215%22%20viewBox%3D%220%200%2017%2015%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M404%2030.32a.6.6%200%200%201-.2.54l-1.83%201.77a.85.85%200%200%201-.32.23c-.14.06-.27.1-.4.12l-.08.01H401a6.56%206.56%200%200%201-2.27-.51c-.57-.23-1.2-.57-1.92-1.03a14.28%2014.28%200%200%201-2.29-1.89%2014.78%2014.78%200%200%201-2.61-3.35%208.33%208.33%200%200%201-.84-2.31%203.27%203.27%200%200%201-.04-.94%201.28%201.28%200%200%201%20.35-.7l1.83-1.79a.61.61%200%200%201%20.44-.19c.12%200%20.23.04.32.1.1.07.17.15.23.25l1.48%202.74c.08.14.1.3.07.47a.83.83%200%200%201-.24.43l-.67.66a.23.23%200%200%200-.05.09.33.33%200%200%200-.02.1c.04.19.12.4.25.64.1.22.28.48.5.8.24.3.56.66.98%201.06a9.13%209.13%200%200%200%201.9%201.47c.22.1.39.17.5.2l.18.03.09-.02a.22.22%200%200%200%20.09-.05l.78-.78a.86.86%200%200%201%20.58-.21c.15%200%20.28.02.37.08h.01l2.66%201.53c.2.12.3.27.34.45z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23ffc802%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-389%20-19)%22%2F%3E%3C%2Fsvg%3E');
    }
    span {
        display: inline-block;
        font-size: 13px;
        margin-right: 4px;
    }
    a {
        color: #ccc;
        font-size: 16px;
        font-weight: 600;
        @include trans;
        &:hover {
            text-decoration: none;
            color: #fff;
        }
    }
}

#nav-mini {
    list-style: none;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, .8);
    li {
        display: inline-block;
        + li {
            margin-left: 30px;
        }
    }
    a {
        color: #ccc;
        font-size: 13px;
        line-height: 1;
        @include trans;

        &:hover {
            text-decoration: none;
            color: #fff;
        }
    }
}

.search {
    position: relative;
    width: 30px;
    height: 20px;
    display: inline-block;
    margin-right: 50px;
    vertical-align: top;
    @include bp(991) {
        float: right;
        margin-right: 0;
        margin-left: 15px;
    }
    input {
        position: absolute;
        right: 0;
        top: 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        line-height: 20px;
        color: #ccc;
        padding: 0 35px 0 5px;
        z-index: 1;
        background: rgba(#000, .6);
        width: 0;
        visibility: hidden;
        @include trans;
    }
    button {
        width: 30px;
        height: 20px;
        background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cimage%20width%3D%2216%22%20height%3D%2216%22%20xlink%3Ahref%3D%22data%3Aimage%2Fpng%3Bbase64%2CiVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8%2F9hAAAB70lEQVQ4T5WSPYgTURDH%2F7PRoBaxsDMI1wiKcBDevBQhTQotFE4Li8POxkbBqxREC8VDOAtBOMHmCuE4BSuLszONBMzOmnh%2BYHmFllbLkUSzGXnL22XdOwW3WB4z8%2F%2FNJ6HwRVE0P5vNlojoDICjACYAtohoYzKZPG21WqNivHuT%2B6kqRVF0F8DtzFYOBLBNROeNMVtFXwoQkXsA7niHAngN4AOAwwDOApjzvh%2BVSoUbjcZ2BnGZ51V16DN%2FB7DAzO%2BzgG63u69Wqy2r6g1v22TmczkgDMM1IrrsOgHARXFpPhuquuhtJ5n5azoDEfkGoA7gD3J5Bv1%2B%2F1QQBJ%2B8%2FTozP84AM1%2F%2BA2a%2BtcfwcpOITAFUVPWhtTZtyVXgVnMAwBNmvvo3gIgcArCTioiWjTFuYyngHYCmW1Mcx8c7nY7LsusTkUsA1j1g0RjzIn1HUbSkqo%2B8Y8UYc7OsHg6H9el06hK5WcXj8bjebrfjVNPr9Q5Wq9Uv2a6J6HmSJPebzeZnX%2FYFACte7I5u1Vp7LV%2Bje%2FhbeAPgSCF74ga2Rze%2FVPWitfZVWkEWMBgM5pIkWfWXV9bFqvqMiK4A2A8gh%2BSATCEiJwCcVtVjQRD8BPBxNBptup7DMFwgopdFyC7Av%2B7A%2BUqQnf8GFCDrqvr2N2wq0TD6KqjsAAAAAElFTkSuQmCC%22%2F%3E%3C%2Fsvg%3E') no-repeat center;
        position: absolute;
        border: none;
        right: 1px;
        top: 1px;
        z-index: 2;
    }
    .jsSearchToggle {
        width: 30px;
        height: 20px;
        position: absolute;
        right: 1px;
        top: 1px;
        z-index: 3;
        cursor: pointer;
    }
    &.active {
        input {
            width: 240px;
            visibility: visible;
        }
        .jsSearchToggle {
            z-index: 2;
        }
        button {
            z-index: 3;
        }
    }
}

.lang-switch {
    display: inline-block;
    width: 76px;
    height: 20px;
    color: #ccc;
    font-size: 13px;
    padding: 0 12px 0 0;
    position: relative;
    cursor: default;
    text-align: left;
    text-align-last: left;
    margin-right: 50px;
    vertical-align: top;
    p {
        display: inline-block;
        margin: 0;
    }
    &:before {
        position: absolute;
        display: block;
        content: '';
        height: 6px;
        width: 6px;
        right: 0;
        top: 5px;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        transform: rotate(45deg);
    }

    &__dropdown {
        display: none;
        list-style: none;
        position: absolute;
        left: -3px;
        right: -3px;
        border: 1px solid #ccc;
        z-index: 9;
        background: rgba(#000, .6);
        border-radius: 4px;

        li {
            display: block;
            border-bottom: 1px solid #d6dbe1;
            padding: 3px;

            a {
                color: #ccc;
                font-size: 13px;
                font-weight: 700;
                display: block;
                //padding: 10px;

                &:hover {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }
}

.flag {
    display: inline-block;
    width: 24px;
    height: 16px;
    background-size: cover;
    margin-right: 8px;
    &_eng {
        background: url("../img/flag-united-kingdom.png") no-repeat;
    }
}

.social {
    display: inline-block;
    a {
        display: inline-block;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        position: relative;
        + a {
            margin-left: 10px;
        }
    }
    .fb {
        background: #666 url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2210%22%20height%3D%2215%22%20viewBox%3D%220%200%2010%2015%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1480.5%2031h2.25v-6h2.03l.22-2.07h-2.25v-1.04c0-.53.03-.82.8-.82h1.43V19h-2.04c-1.98%200-2.44%201.02-2.44%202.71v1.22h-1.5V25h1.5z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23fff%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1477%20-17)%22%2F%3E%3C%2Fsvg%3E') no-repeat center;
    }
    .tw {
        background: #666 url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2217%22%20height%3D%2214%22%20viewBox%3D%220%200%2017%2014%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1525%2020.3c-.52.22-1.07.37-1.65.44a2.8%202.8%200%200%200%201.26-1.54%205.9%205.9%200%200%201-1.82.67%202.91%202.91%200%200%200-2.1-.87%202.83%202.83%200%200%200-2.8%203.4%208.25%208.25%200%200%201-5.92-2.9%202.7%202.7%200%200%200-.38%201.4c0%20.97.5%201.82%201.27%202.31a2.95%202.95%200%200%201-1.3-.34v.03a2.8%202.8%200%200%200%202.3%202.72%202.95%202.95%200%200%201-1.3.05%202.87%202.87%200%200%200%202.7%201.93%205.9%205.9%200%200%201-4.26%201.15%208.34%208.34%200%200%200%204.4%201.25%207.98%207.98%200%200%200%208.17-8.26c.56-.4%201.04-.88%201.43-1.44z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23fff%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1509%20-17)%22%2F%3E%3C%2Fsvg%3E') no-repeat center;
    }
    a {
        &:hover {
            opacity: .8;
        }
    }
}

.logo {
    display: inline-block;
    float: left;
    img {
        max-width: 100%;
    }
    @include bp(767) {
        margin-left: 15px;
    }
    @media (max-width: 350px){
        max-width: 240px;
    }
}

#nav {
    padding-top: 18px;
    display: inline-block;
    float: right;
    list-style: none;
    //white-space: nowrap;

    li {
        display: inline-block;
        + li {
            margin-left: 20px;
        }
    }
    a {
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        line-height: 1;
        text-transform: uppercase;
        @include trans;
        &:hover {
            text-decoration: none;
            color: #ccc;
        }
    }
    @include bp(992){
        display: inline-block!important;
    }
    @include bp(991) {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, .8);
        z-index: 99;
        padding: 10px 0;
        li {
            display: block;
            text-align: center;
            text-align-last: center;
            margin: 5px 0 !important;
            padding: 0 20px;
            a {
                display: block;
                padding: 15px 0;
                font-size: 20px;
            }
        }
    }
}

#hamburger {
    display: none;
    float: right;
    width: 30px;
    height: 30px;
    position: relative;
    margin: 11px 15px 0 0;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;

    span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: #fff;
        border-radius: 3px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }
    @include bp(991){
        display: block;
    }
}

#hamburger span:nth-child(1) {
    top: 0;
}

#hamburger span:nth-child(2), #hamburger span:nth-child(3) {
    top: 9px;
}

#hamburger span:nth-child(4) {
    top: 18px;
}

#hamburger.open span:nth-child(1) {
    top: 9px;
    width: 0;
    left: 50%;
}

#hamburger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#hamburger.open span:nth-child(4) {
    top: 9px;
    width: 0;
    left: 50%;
}
