@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	&:active, &:focus{
		outline: none!important;
		text-decoration: none!important;
	}
}
// font-family: 'Open Sans', sans-serif;
html{
	height: 100%;

}
body{
	min-height: 100%;
	background: #f9f6f4;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
}

.clearfix:before, .clearfix:after{
	content: ' ';
	display: table;
	clear: both;
}



h1,h2,h3,h4,h5,h6,ul,ol{
	margin: 0;
	padding: 0;
}
.row-eq-height {
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
._pb15{
	padding-bottom: 15px;
}

@import 'mixins';
@import 'buttons';
@import 'header';
@import 'content';
@import 'footer';
